<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/lazy-pages/lazy-pages.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../nwhacks-footer/nwhacks-footer.html">
<link rel="import" href="../nwhacks-header/nwhacks-header.html">

<dom-module id="main-app">
  <template>
    <style>
    </style>

    <!--&lt;!&ndash;-->
    <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:absolute;left:50px;top:50;width:10%;z-index:50" href="https://mlh.io/seasons/na-2017/events?utm_source=na-2018&amp;utm_medium=TrustBadge&amp;utm_campaign=na-2017&amp;utm_content=black" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/black.svg" alt="Major League Hacking 2018 Hackathon Season" style="width:100%"></a>
    <!--&ndash;&gt;-->
    <nav id="menu">
      <a href="#title">
        <paper-icon-button src="/svg/NWHacks-NavBar-Logo.svg"></paper-icon-button>
      </a>
      <template is="dom-if" if="[[!adminPage]]">
        <a href="/#sponsors" class="big right">
          <paper-button>Sponsors</paper-button>
        </a>
        <a href="/#calendar" class="med right">
          <paper-button>Schedule</paper-button>
        </a>
        <a href="/#faq" class="med right">
          <paper-button>FAQ</paper-button>
        </a>
        <a href="/#intro" class="med right">
          <paper-button>About</paper-button>
        </a>
        <!--<a href="/#intro" class="big">-->
          <!--<paper-button>View Hacks</paper-button>-->
        <!--</a>-->
        <!--
        <a href="https://nwhacks2017.devpost.com/" class="small right">
          <paper-button>View Hacks</paper-button>
        </a>
        -->
      </template>
      <!--
      <a href="/register#begin" class="small right">
        <paper-button>register</paper-button>
      </a>
      -->
      <template is="dom-if" if="[[adminPage]]">
        <a href="/admin/checkin" class="med right">
          <paper-button>Check-In</paper-button>
        </a>
        <a href="/admin/stats" class="med right">
          <paper-button>Stats</paper-button>
        </a>
        <a href="/admin/select" class="med right">
          <paper-button>Hackers</paper-button>
        </a>
      </template>
    </nav>
    <nwhacks-header hidden$="[[hideHeader]]"></nwhacks-header>
    <div class="wrapper" id="begin">
      <lazy-pages attr-for-selected="data-route" selected="{{route}}">
        <template is="dom-if" restamp data-route="index-page">
          <index-page></index-page>
        </template>
        <template is="dom-if" restamp data-route="register-form">
          <register-form></register-form>
        </template>
        <template is="dom-if" restamp data-route="register-closed">
          <register-closed></register-closed>
        </template>
        <template is="dom-if" restamp data-route="dayof-page">
          <dayof-page></dayof-page>
        </template>
        <template is="dom-if" restamp data-route="sponsor-page">
          <sponsor-page></sponsor-page>
        </template>
        <template is="dom-if" restamp data-route="review-page">
          <review-page></review-page>
        </template>
        <template is="dom-if" restamp data-route="rsvp-page">
          <rsvp-page params="{{params}}"></rsvp-page>
        </template>

        <!-- Admin Pages -->
        <template is="dom-if" data-route="select-hackers">
          <select-hackers></select-hackers>
        </template>
        <template is="dom-if" data-route="stats-page">
          <stats-page></stats-page>
        </template>
        <template is="dom-if" data-route="checkin-page">
          <checkin-page></checkin-page>
        </template>
      </lazy-pages>
    </div>
    <nwhacks-footer hidden$="[[hideFooter]]"></nwhacks-footer>
    <div id="starContainer"></div>

  </template>

  <script src="/bower_components/page/page.js"></script>
  <script src="main-app.js"></script>
</dom-module>
