<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../nwhacks-footer/nwhacks-footer.html">

<dom-module id="main-app">
  <template>
    <style include="shared-styles">
      :host {
        --primary-color: #27AE60;
        --dark-text-color: #fff;
        --dark-background-color: rgba(35,31,32,0.6);
        --light-text-color: black;
        --light-background-color: white;
        --menu-padding: 15px;
        --menu-padding-vertical: 10px;
        --link-color: white;
        --link-hover-color: #239e57;
        --link-dark-color: #4BAE74;

        font-size: 14pt;

        --paper-input-container: {
          padding-bottom: 50px;
        };

        --paper-input-container-label: {
          overflow: visible;
          white-space: normal;
        };

        --paper-input-container-label-floating: {
          padding-bottom: 10px;
        };

        --paper-font-common-base: {
          font-family: 'Apercu', 'Roboto', sans-serif !important;
          -webkit-font-smoothing: antialiased;
        };

        --paper-font-display4: {
          @apply --paper-font-common-base;
          @apply --paper-font-common-nowrap;
          font-size: 112px;
          font-weight: 300;
          letter-spacing: -.044em;
          line-height: 120px;
        };
        --paper-font-display3: {
          @apply --paper-font-common-base;
          @apply --paper-font-common-nowrap;
          font-size: 56px;
          font-weight: 400;
          letter-spacing: -.026em;
          line-height: 60px;
        };
        --paper-font-display2: {
          @apply --paper-font-common-base;
          font-size: 45px;
          font-weight: 400;
          letter-spacing: -.018em;
          line-height: 48px;
        };
        --paper-font-display1: {
          @apply --paper-font-common-base;
          font-size: 34px;
          font-weight: 400;
          letter-spacing: -.01em;
          line-height: 40px;
        };
        --paper-font-headline: {
          @apply --paper-font-common-base;
          font-size: 24px;
          font-weight: 400;
          letter-spacing: -.012em;
          line-height: 32px;
        };
        --paper-font-title: {
          @apply --paper-font-common-base;
          @apply --paper-font-common-nowrap;
          font-size: 20px;
          font-weight: 500;
          line-height: 28px;
        };
        --paper-font-subhead: {
          @apply --paper-font-common-base;
          font-size: 14pt;
          font-weight: 400;
          line-height: 24px;
        };
        --paper-font-body2: {
          @apply --paper-font-common-base;
          font-size: 14pt;
          font-weight: 500;
          line-height: 24px;
        };
        --paper-font-body1: {
          @apply --paper-font-common-base;
          font-size: 14pt;
          font-weight: 400;
          line-height: 20px;
        };
        --paper-font-caption: {
          @apply --paper-font-common-base;
          @apply --paper-font-common-nowrap;
          font-size: 12pt;
          font-weight: 400;
          letter-spacing: 0.011em;
          line-height: 20px;
        };
        --paper-font-menu: {
          @apply --paper-font-common-base;
          @apply --paper-font-common-nowrap;
          font-size: 12pt;
          font-weight: 500;
          line-height: 24px;
        };
        --paper-font-button: {
          @apply --paper-font-common-base;
          @apply --paper-font-common-nowrap;
          font-size: 12pt;
          font-weight: 500;
          letter-spacing: 0.018em;
          line-height: 24px;
          text-transform: uppercase;
        };
        --paper-dropdown-menu: {
          display: block;
        };

        font-family: 'Apercu', 'Roboto', sans-serif !important;
        -webkit-font-smoothing: antialiased;
      }

      @media (max-width: 768px){
        #badge {
          display: none;
        }
      }

      #menu {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 99;
        padding: var(--menu-padding-vertical) var(--menu-padding) var(--menu-padding-vertical);
        height: 45px;
        background-color: var(--light-background-color);
        color: var(--light-text-color);
        transition: background-color 0.2s, box-shadow 0.2s;
      }

      #menu paper-icon-button {
        color: inherit;
        height: 50px;
        width: 50px;
        padding-top: 0;
        padding-bottom: 0;
        margin-left: var(--menu-padding);
        margin-right: calc(var(--menu-padding) - 5px);
      }

      #menu paper-button {
        color: inherit;
        font-size: 15pt;
        padding: 12px var(--menu-padding);
        text-transform: none !important;
        letter-spacing: normal;
      }

      #menu a {
        text-decoration: none;
        color: inherit;
      }
      #menu a.right {
        float: right;
      }
      #menu a:hover {
        color: var(--link-hover-color);
      }

      @media (max-width: 510px) {
        #menu {
          position: absolute;
        }
        #menu a.med {
          display: none;
        }
      }
      @media (max-width: 815px) {
        #menu paper-icon-button {
          margin-left: calc(var(--menu-padding) / 2);
          margin-right: calc(var(--menu-padding) / 2);
        }
        #menu paper-button {
          padding: 17px calc(var(--menu-padding) / 2);
        }
        #menu a.big {
          display: none;
        }
      }

      a[hidden] {
        display: none !important;
      }
    </style>

    <a id="mlh-trust-badge"
       class="badge"
       hidden$="[[hideHeader]]"
       style="display:block;max-width:100px;min-width:60px;position:absolute;right:100px;top:50;width:10%;z-index:50;"
       href="https://mlh.io/seasons/na-2018/events?utm_source=na-2018&amp;utm_medium=TrustBadge&amp;utm_campaign=na-2018&amp;utm_content=black"
       target="_blank">

      <img id="badge"
           src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/white.svg"
           alt="Major League Hacking 2018 Hackathon Season"
           style="width:100%">
    </a>

    <nav id="menu">
      <a href="/#begin">
        <paper-icon-button src="/svg/NWHacks-NavBar-Logo.svg"></paper-icon-button>
      </a>
      <template is="dom-if" if="[[!adminPage]]">
        <a href="/#sponsors" class="big right">
          <paper-button>Sponsors</paper-button>
        </a>
        <a href="/#calendar" class="med right">
          <paper-button>Schedule</paper-button>
        </a>
        <a href="/#faq" class="med right">
          <paper-button>FAQ</paper-button>
        </a>
        <a href="/#intro" class="med right">
          <paper-button>About</paper-button>
        </a>
        <!--<a href="/#intro" class="big">-->
          <!--<paper-button>View Hacks</paper-button>-->
        <!--</a>-->
        <!--
        <a href="https://nwhacks2017.devpost.com/" class="small right">
          <paper-button>View Hacks</paper-button>
        </a>
        -->
      </template>
      <!--
      <a href="/register#begin" class="small right">
        <paper-button>register</paper-button>
      </a>
      -->
      <template is="dom-if" if="[[adminPage]]">
        <a href="/admin/checkin" class="med right">
          <paper-button>Check-In</paper-button>
        </a>
        <a href="/admin/stats" class="med right">
          <paper-button>Stats</paper-button>
        </a>
        <a href="/admin/select" class="med right">
          <paper-button>Hackers</paper-button>
        </a>
      </template>
    </nav>

    <div class="wrapper" id="begin">
      <iron-lazy-pages id="pages" attr-for-selected="data-route" selected="{{route}}">
        <template is="dom-if" restamp data-route="index-page">
          <index-page></index-page>
        </template>
        <template is="dom-if" restamp data-route="dayof-page">
          <dayof-page></dayof-page>
        </template>
        <template is="dom-if" restamp data-route="sponsor-page">
          <sponsor-page></sponsor-page>
        </template>
        <template is="dom-if" restamp data-route="review-page">
          <review-page></review-page>
        </template>
        <template is="dom-if" restamp data-route="rsvp-page">
          <rsvp-page params="{{params}}"></rsvp-page>
        </template>

        <template is="dom-if" restamp data-route="register-form">
          <register-form></register-form>
        </template>
        <template is="dom-if" restamp data-route="register-closed">
          <register-closed></register-closed>
        </template>
        <template is="dom-if" data-route="mentorexpo-form">
          <mentorexpo-form></mentorexpo-form>
        </template>
        <template is="dom-if" data-route="volunteer-form">
          <volunteer-form></volunteer-form>
        </template>

        <!-- Admin Pages -->
        <template is="dom-if" data-route="select-hackers">
          <select-hackers></select-hackers>
        </template>
        <template is="dom-if" data-route="stats-page">
          <stats-page></stats-page>
        </template>
        <template is="dom-if" data-route="checkin-page">
          <checkin-page></checkin-page>
        </template>
      </iron-lazy-pages>
    </div>

    <nwhacks-footer hidden$="[[hideFooter]]"></nwhacks-footer>

  </template>

  <script src="/bower_components/page/page.js"></script>
  <script src="main-app.js"></script>
</dom-module>
