@font-face {
  font-family: "Apercu";
  src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu.ttf) format("opentype"); }
@font-face {
  font-family: "Apercu";
  src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu-Light.otf) format("opentype");
  font-weight: 500; }
@font-face {
  font-family: "Apercu";
  src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu-Bold.otf) format("opentype");
  font-weight: bold; }
@font-face {
  font-family: "Apercu";
  src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu-BoldItalic.otf) format("opentype");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: "Apercu";
  src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu-Light.otf) format("opentype");
  font-weight: 200; }
@font-face {
  font-family: "Apercu";
  src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu%20Light%20Italic.ttf) format("opentype");
  font-weight: lighter;
  font-style: italic; }
body {
  color: #FFFFFF;
  background: #111754;
  /* Old browsers */
  background: -moz-linear-gradient(top, #111754 32%, black 81%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #111754 32%, black 81%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #111754 32%, black 81%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b6377', endColorstr='#a1c1d6',GradientType=0 );
  /* IE6-9 */
  margin: 0;
  padding-top: 60px;
  min-height: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

body, * {
  font-family: 'Apercu', 'Roboto', sans-serif !important; }

html {
  min-height: 100%; }

paper-dialog {
  color: #444 !important; }

paper-radio-button[invalid] #offRadio {
  border-color: #217E49 !important; }
paper-radio-button[invalid] #onRadio {
  background-color: #217E49 !important; }

register-form #form label, rsvp-page #form label, checkin-page label {
  color: #FFFFFF; }
register-form #form .is-invalid .focused-line, rsvp-page #form .is-invalid .focused-line, checkin-page .is-invalid .focused-line {
  background: #217E49; }
register-form #form paper-input-error, register-form #form .invalid, rsvp-page #form paper-input-error, rsvp-page #form .invalid, checkin-page paper-input-error, checkin-page .invalid {
  color: #217E49; }
register-form #form .focused-line, rsvp-page #form .focused-line, checkin-page .focused-line {
  background: #90cfaa;
  border-color: #90cfaa; }
register-form #form paper-checkbox #checkboxLabel.paper-checkbox, rsvp-page #form paper-checkbox #checkboxLabel.paper-checkbox, checkin-page paper-checkbox #checkboxLabel.paper-checkbox {
  pointer-events: auto; }
register-form #form paper-checkbox #checkbox.checked.paper-checkbox, rsvp-page #form paper-checkbox #checkbox.checked.paper-checkbox, checkin-page paper-checkbox #checkbox.checked.paper-checkbox {
  background-color: #90cfaa;
  border-color: #90cfaa; }
register-form #form paper-dropdown-menu paper-item, rsvp-page #form paper-dropdown-menu paper-item, checkin-page paper-dropdown-menu paper-item {
  color: #444; }

paper-toolbar.tall {
  background: rgba(64, 64, 64, 0.9); }

paper-card .card-content {
  padding-top: 0; }

paper-button {
  color: #444;
  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 0; }
  paper-button.register, paper-button.button {
    letter-spacing: 3px;
    padding: 11px 15px;
    margin-top: 10px;
    margin-bottom: 10px; }
  paper-button.register {
    border-bottom: 7px solid #217E49;
    background-color: #2B9F61;
    color: #FFFFFF; }
  paper-button.button {
    border-bottom: 7px solid #BCBEC0;
    background-color: #FFFFFF;
    color: #3C4558; }

@media (max-width: 475px) {
  paper-button.register, paper-button.button {
    display: block; } }
a.link {
  color: #FFFFFF;
  letter-spacing: 1px;
  border-bottom: 1px solid;
  text-decoration: none; }
  a.link:hover {
    text-decoration: none; }

a {
  color: #90cfaa;
  text-decoration: none; }
  a:hover {
    text-decoration: underline;
    color: #239e57; }

a.none:hover {
  text-decoration: none; }

.title a {
  color: inherit;
  text-decoration: inherit; }

#menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  padding: 10px 15px 10px;
  height: 45px;
  background-color: #FFFFFF;
  color: #000000;
  transition: background-color 0.2s, box-shadow 0.2s; }
  #menu paper-icon-button {
    color: inherit;
    height: 50px;
    width: 50px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 15px;
    margin-right: 10px; }
  #menu paper-button {
    color: inherit;
    font-size: 15pt;
    padding: 12px 15px;
    text-transform: none !important;
    letter-spacing: normal; }
  #menu a {
    text-decoration: none;
    color: inherit; }
    #menu a.right {
      float: right; }
    #menu a:hover {
      color: #239e57; }

@media (max-width: 510px) {
  #menu a.med {
    display: none; } }
@media (max-width: 815px) {
  #menu paper-icon-button {
    margin-left: 7.5px;
    margin-right: 7.5px; }
  #menu paper-button {
    padding: 17px 7.5px; }
  #menu a.big {
    display: none; } }
schedule-box {
  font-size: 14pt; }
  schedule-box .day .row > div:first-child {
    color: #FFF2B5; }
  schedule-box .day .row > div:nth-child(2) {
    color: #FFFFFF; }

#header {
  width: 100%; }
  #header #scenery #mountain {
    position: absolute;
    height: 915.5px;
    left: -265.5px;
    top: 194.5px;
    z-index: -50; }
  #header #scenery #cloud-left {
    position: absolute;
    width: 531.5px;
    height: 174.22px;
    left: -71.5px;
    top: 435.78px;
    z-index: -45; }
  #header #scenery #cloud-right {
    position: absolute;
    width: 635px;
    height: 208px;
    left: 904px;
    top: 737px; }
  #header #scenery #tall-tree {
    position: absolute;
    width: 384px;
    left: -131px;
    top: 623px;
    z-index: -40; }
  #header #scenery #normal-tree {
    position: absolute;
    width: 252px;
    left: 81px;
    top: 665px;
    z-index: -41; }
  #header #scenery #medium-tree {
    position: absolute;
    width: 252px;
    left: 206px;
    top: 760px;
    z-index: -40; }
  #header #scenery #small-tree {
    position: absolute;
    width: 200px;
    left: 356.5px;
    top: 940px;
    z-index: -40; }
  #header #scenery #right-normal-tree {
    position: absolute;
    width: 306px;
    left: 882px;
    top: 715px;
    z-index: -40; }
  #header #scenery #right-medium-tree {
    position: absolute;
    width: 366px;
    left: 1013px;
    top: 562.5px;
    z-index: -41; }
  #header #title {
    text-align: center; }
    #header #title object {
      height: 500px;
      padding: 75px 0;
      max-width: calc(100vw - 100px);
      max-height: calc(100vw - 100px);
      pointer-events: none; }
    #header #title #logos {
      position: relative;
      display: inline-block; }
      #header #title #logos > a {
        display: block; }
      #header #title #logos #main-logo {
        padding-top: 190px;
        padding-bottom: 50px;
        width: 150px;
        height: 215px; }
    #header #title .title-sponsor {
      position: absolute;
      bottom: 20px;
      right: -90px;
      display: inline-block; }
      #header #title .title-sponsor img {
        max-height: 80px;
        vertical-align: -13px; }
  #header #sponsor-line {
    font-size: 12pt; }
  #header #email-line {
    font-size: 15pt;
    padding-bottom: 10px;
    font-weight: normal;
    letter-spacing: 1px; }
  #header #buttons {
    margin: 50px;
    text-align: center;
    z-index: 100; }
  #header #email {
    display: inline-block;
    margin-bottom: 0; }
  #header #email-button {
    margin-bottom: 0; }

@media (max-width: 700px) {
  #header #title .title-sponsor {
    bottom: 10px;
    right: -40px; }
    #header #title .title-sponsor img {
      max-height: 50px; } }
footer {
  overflow: hidden; }
  footer .skyline {
    text-align: center; }
    footer .skyline object {
      max-width: 2000px;
      width: 100%;
      margin-bottom: calc(100% / -25.974);
      display: inline-block; }
  footer .foot {
    padding: 50px;
    padding-bottom: 35px;
    background-color: #414042; }
  footer .imgcont img {
    max-height: 100px; }
  footer a {
    display: block;
    color: #4BAE74; }
  footer table {
    width: 100%; }
    footer table td {
      vertical-align: top; }
      footer table td > table {
        width: auto;
        border-collapse: collapse; }
        footer table td > table td + td {
          padding-left: 10px; }
    footer table td:last-child {
      text-align: right; }

@media (max-width: 650px) {
  .small-first {
    display: table-header-group; }

  .small-middle {
    display: table-row-group; }

  .small-last {
    display: table-footer-group; }

  footer > table > tbody > tr > td {
    padding-left: 0 !important;
    text-align: left !important; }
    footer > table > tbody > tr > td table {
      width: 100%; } }
@media screen and (min-width: 2000px) {
  footer .skyline object {
    margin-bottom: -80px; } }
h2, h3 {
  margin-bottom: -5px;
  margin-top: 30px; }

h1 {
  letter-spacing: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 28pt; }

.h1-container {
  text-align: center; }
  .h1-container h1 {
    display: inline-block; }

h2, p, ul, ol {
  font-size: 14pt; }

h2 + p {
  margin-top: 5px; }

.content {
  font-weight: 200;
  max-width: 900px;
  margin: 0 auto;
  text-align: justify; }
  .content .column {
    width: calc(50% - 15px);
    display: inline-block; }
  .content .column + .column {
    float: right; }

@media (max-width: 768px) {
  .content .column {
    width: 100%;
    display: block; } }
.wrapper {
  padding: 0 15px;
  overflow: hidden; }

body paper-card {
  margin: 50px auto;
  display: block;
  max-width: 600px; }

#warning {
  color: red;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100; }

.large-trapezoid {
  display: inline-block;
  text-align: center;
  position: relative;
  max-width: calc(100vw - 100px);
  padding: 15px 20px; }
  .large-trapezoid h1, .large-trapezoid h2, .large-trapezoid h3 {
    padding: 0;
    margin: 0; }
  .large-trapezoid h1 {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 28pt;
    font-weight: bold;
    margin-bottom: 0; }
  .large-trapezoid h2 {
    text-decoration: none;
    font-weight: normal;
    font-size: 22pt;
    margin-top: 6px; }
  .large-trapezoid section {
    padding: 0 60px;
    display: inline-block; }
    .large-trapezoid section h3 {
      letter-spacing: 2px;
      font-size: 30pt;
      font-weight: 500;
      color: #FFF2B5; }

@media (max-width: 840px) {
  div.large-trapezoid section {
    padding: 0 20px; } }
.small-trapezoid {
  position: relative;
  background-color: rgba(35, 31, 32, 0.6);
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  padding: 5px 30px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20pt;
  display: inline-block;
  margin: 30px 0; }

star {
  position: absolute;
  background-image: url(/svg/Stars-Single.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  z-index: -100; }

#sponsors {
  max-width: inherit;
  text-align: center; }
  #sponsors > div {
    margin: 50px 0; }
  #sponsors a.duo, #sponsors a[duo] {
    position: relative;
    display: inline-block; }
    #sponsors a.duo img, #sponsors a.duo svg, #sponsors a[duo] img, #sponsors a[duo] svg {
      transition: opacity 0.5s; }
      #sponsors a.duo img.solid, #sponsors a.duo svg.solid, #sponsors a[duo] img.solid, #sponsors a[duo] svg.solid {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        filter: none; }
      #sponsors a.duo img.transparent, #sponsors a.duo svg.transparent, #sponsors a[duo] img.transparent, #sponsors a[duo] svg.transparent {
        pointer-events: none;
        opacity: 1; }
    #sponsors a.duo:hover img.solid, #sponsors a.duo:hover svg.solid, #sponsors a[duo]:hover img.solid, #sponsors a[duo]:hover svg.solid {
      opacity: 1; }
    #sponsors a.duo:hover img.transparent, #sponsors a.duo:hover svg.transparent, #sponsors a[duo]:hover img.transparent, #sponsors a[duo]:hover svg.transparent {
      opacity: 0; }
  #sponsors img, #sponsors svg {
    vertical-align: middle;
    margin: 30px;
    max-width: calc(100% - 60px);
    -webkit-filter: brightness(0) invert(1) brightness(0.44);
    -moz-filter: brightness(0) invert(1) brightness(0.44);
    -o-filter: brightness(0) invert(1) brightness(0.44);
    filter: brightness(0) invert(1) brightness(0.44);
    transition: -webkit-filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, filter 0.5s; }
    #sponsors img.black:hover, #sponsors svg.black:hover {
      -webkit-filter: brightness(0);
      -moz-filter: brightness(0);
      -o-filter: brightness(0);
      filter: brightness(0); }
    #sponsors img.white:hover, #sponsors svg.white:hover {
      -webkit-filter: brightness(0) invert(1);
      -moz-filter: brightness(0) invert(1);
      -o-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1); }
    #sponsors img.grayscale, #sponsors svg.grayscale {
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(1);
      -o-filter: grayscale(1);
      filter: grayscale(1); }
    #sponsors img:hover, #sponsors svg:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -o-filter: none;
      filter: none; }

lazy-pages {
  overflow: visible !important; }

lazy-pages, lazy-pages > * {
  position: inherit !important; }

/*# sourceMappingURL=main.css.map */
