$light-fg: #444;
$light-bg: white;
$dark-bg: rgba(35,31,32,0.6);
$black-fg: #000000;
$dark-fg: #FFFFFF;
$dark-fg-alt: #FFF2B5;
$light-bg: #FFFFFF;
$body-bg-light: rgba(17,23,84,1);
$body-bg-dark: rgba(0,0,0,1);
$logo-size: 500px;
$menu-padding: 15px;
$menu-padding-vertical: 10px;
$tagline-font-size: 22pt;
$infoline-font-size: 17pt;
$link-dark: #4BAE74;
$link: lighten($link-dark, 20%);
$link-hover: #239e57;

$btn-shadow-size: 7px;
$register-btn-fg: $dark-fg;
$register-btn-bg: #2B9F61;
$register-btn-bg-shadow: #217E49;
$login-btn-fg: #3C4558;
$login-btn-bg: $light-bg;
$login-btn-bg-shadow: #BCBEC0;

$footer-bg: #414042;

$form-error: $register-btn-bg-shadow;
$form-focused: $link;

//@import "./etica.scss";
@import "./apercu.scss";


body {

  color: $dark-fg;

  background: rgb(17,23,84); /* Old browsers */
  background: -moz-linear-gradient(top, $body-bg-light 32%, $body-bg-dark 81%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $body-bg-light 32%,$body-bg-dark 81%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $body-bg-light 32%,$body-bg-dark 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b6377', endColorstr='#a1c1d6',GradientType=0 ); /* IE6-9 */

  margin: 0;
  padding-top: 60px;
  min-height: 100%;
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body, * {
  font-family: 'Apercu', 'Roboto', sans-serif !important;
}
html {
  min-height: 100%;
}

paper-dialog {
  color: $light-fg !important;
}

paper-radio-button[invalid] {
  #offRadio {
    border-color: $form-error !important;
  }
  #onRadio {
    background-color: $form-error !important;
  }
}

register-form #form, rsvp-page #form, checkin-page {
  label {
    color: $dark-fg;
  }
  .unfocused-line {
    //background: $dark-fg;
  }
  .is-invalid  .focused-line {
    background: $form-error;
  }
  paper-input-error, .invalid {
    color: $form-error;
  }
  .focused-line {
    background: $form-focused;
    border-color: $form-focused;
  }
  paper-checkbox {
    #checkboxLabel.paper-checkbox  {
      pointer-events: auto;
    }
    #checkbox.checked.paper-checkbox {
      background-color: $link;
      border-color: $link;
    }
  }
  paper-dropdown-menu paper-item {
    color: $light-fg;
  }
}

paper-toolbar.tall {
  background: rgba(64,64,64,0.9);
}

paper-card .card-content {
  padding-top: 0;
}

paper-button {
  color: #444;

  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 0;
  &.register, &.button {
    //font-weight: bold;
    letter-spacing: 3px;
    padding: 11px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &.register {
    border-bottom: $btn-shadow-size solid $register-btn-bg-shadow;
    background-color: $register-btn-bg;
    color: $register-btn-fg;
  }
  &.button {
    border-bottom: $btn-shadow-size solid $login-btn-bg-shadow;
    background-color: $login-btn-bg;
    color: $login-btn-fg;
  }
}

@media (max-width: 475px) {
  paper-button {
    &.register, &.button {
      display: block;
    }
  }
}

a.link {
  color: $dark-fg;
  //font-style: italic;
  letter-spacing: 1px;
  border-bottom: 1px solid;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
a {
  color: $link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $link-hover;
  }
}
a.none:hover {
  text-decoration: none;
}

.title a {
  color: inherit;
  text-decoration: inherit;
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  padding: $menu-padding-vertical $menu-padding $menu-padding-vertical;
  //padding-right: 165px;
  height: 45px;
  background-color: $light-bg;
  color: $black-fg;
  transition: background-color 0.2s, box-shadow 0.2s;

  paper-icon-button {
    color: inherit;
    height: 50px;
    width: 50px;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: $menu-padding;
    margin-right: $menu-padding - 5px;
  }

  paper-button {
    color: inherit;
    font-size: 15pt;
    padding: 12px $menu-padding;
    text-transform: none !important;
    letter-spacing: normal;
  }

  a {
    text-decoration: none;
    color: inherit;
    &.right {
      float: right;
    } &:hover {
      color: $link-hover;
    }
  }
}
@media (max-width: 510px) {
  #menu {
    a.med {
      display: none;
    }
  }
}
@media (max-width: 815px) {
  #menu {
    //padding-right: 125px;

    paper-icon-button {
      margin-left: $menu-padding/2;
      margin-right: $menu-padding/2;
    }
    paper-button {
      padding: 17px $menu-padding/2;
    }
    a.big {
      display: none;
    }
  }
}

schedule-box {
  font-size: 14pt;
  .day .row > div:first-child {
    color: $dark-fg-alt;
  }
  .day .row > div:nth-child(2) {
    color: $dark-fg;
  }
}

#header {
  //background-color: blue;
  padding-bottom: 200px;
  //width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  #scenery {

    text-align: center;
    position: relative;
    left: 0px;
    right: 0px;
    text-align: center;
    //margin-top: -100px;

    #mountain {
      position: absolute;
      //width: 100%;
      height: 915.5px;
      left: -265.5px;
      top: 194.5px;
      //background: url("/svg/scenery/big_mountain.svg") no-repeat;
      z-index: -60;
    }
      #cloud-left {
        position: absolute;
        //width: 531.5px;
        height: 174.22px;
        left: -71.5px;
        top: 435.78px;
        z-index: -45;
      }

      #tall-tree {
        position: absolute;
        //width: 384px;
        height: 487px;
        left: -131px;
        top: 623px;
        //background: url("/svg/scenery/tall_tree.svg") no-repeat;
        z-index: -40;
      }
      #normal-tree {
        position: absolute;
        //width: 252px;
        height: 303px;
        left: 81px;
        top: 665px;
        //background: url("/svg/scenery/medium_tree.svg") no-repeat;
        z-index: -41;
      }
      #medium-tree {
        position: absolute;
        //width: 252px;
        height: 303px;
        left: 206px;
        top: 760px;
        //background: url("/svg/scenery/medium_tree.svg") no-repeat;
        z-index: -40;
      }
      #small-tree {
        position: absolute;
        //width: 200px;
        height: 170px;
        left: 356.5px;
        top: 940px;
        //background: url("/svg/scenery/medium_tree.svg") no-repeat;
        z-index: -40;
      }
      #right-normal-tree {
        position: absolute;
        //width: 306px;
        height: 368px;
        //left: 882px;
        left: calc(70vw);
        top: 715px;
        //background: url("/svg/scenery/medium_tree.svg") no-repeat;
        z-index: -40;
      }
      #right-medium-tree {
        position: absolute;
        //width: 366px;
        height: 440.5px;
        //left: 1013px;
        left: calc(80vw);

        top: 562.5px;
        //background: url("/svg/scenery/medium_tree.svg") no-repeat;
        z-index: -41;
      }
      #cloud-right {
        position: absolute;
        //width: 635px;
        height: 208px;
        //left: 904px;
        left: calc(55vw);
        top: 700px;
        z-index: -38;
      }

    //
    //max-width: 2000px;
    //// margin-bottom: -77px;
    //width: 100%;
    //display: inline-block;
  }

  #title {
    text-align: center;

    object {
      height: $logo-size;
      padding: 75px 0;
      max-width: calc(100vw - 100px);
      max-height: calc(100vw - 100px);
      pointer-events: none;
    }

    #logos {
      position: relative;
      display: inline-block;
      & > a {
        display: block;
      } #main-logo {
        padding-top: 190px;
        padding-bottom: 50px;
        width: 150px;
        height: 215px;
      }
    }

    .title-sponsor {
      position: absolute;
      bottom: 20px;
      right: -90px;
      display: inline-block;

      img {
        max-height: 80px;
        vertical-align: -13px;
      }
    }
  }
  #sponsor-line {
    font-size: 12pt;
  }

  #email-line {
    font-size: 15pt;
    padding-bottom: 10px;
    font-weight: normal;
    letter-spacing: 1px;
  }
  #buttons {
    margin: 50px;
    text-align: center;
    z-index: 100;
  }
  #email-box {
    //min-width: 250px;
    //max-width:80vh;
    display: inline-block;

    margin-bottom: 0;
  }
  #email-button {
    margin-bottom: 0;
  }
}

@media(max-width: 700px) {
  #header {
    #title .title-sponsor {
      bottom: 10px;
      right: -40px;
      img {
        max-height: 50px;
     }
    }
    #scenery {
      #right-medium-tree, #small-tree, #normal-tree, #medium-tree, #cloud-right {
        display: none;
      }
    }
  }
}


footer {
  overflow: hidden;

  .skyline {
    text-align: center;
    object {
      max-width: 2000px;
      // margin-bottom: -77px;
      width: 100%;
      margin-bottom: calc(100% / -25.974);
      display: inline-block;
    }
  }
  .foot {
    padding: 50px;
    padding-bottom: 35px;
    background-color: $footer-bg;
  }
  .imgcont img {
    max-height: 100px;
  }
  a {
    display: block;
    color: $link-dark;
  }
  table {
    width: 100%;

    td {
      vertical-align: top;

      & > table {
        width: auto;
        border-collapse: collapse;

        td + td {
          padding-left: 10px;
        }
      }
    }
    td:last-child {
      text-align: right;
    }
  }
}
@media (max-width: 650px) {
  .small-first {display: table-header-group; }
  .small-middle {display: table-row-group;    }
  .small-last {display: table-footer-group; }

  footer > table > tbody > tr > td {
    padding-left: 0 !important;
    text-align: left !important;

    table {
      width: 100%;
    }
  }
}
@media screen and (min-width: 2000px) {
  footer .skyline object {
    margin-bottom: -80px;
  }
}

h2, h3 {
  margin-bottom: -5px;
  margin-top: 30px;
}
h1 {
  letter-spacing: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 28pt;
}
.h1-container {
  text-align: left;
  h1 {
    margin: 1em auto;
    text-align: center;
  }
}

body {
  margin: 0;
}


.hero-container {
  background-color: #FFFFFF;
  width: 100%;
}


/* create two equal columns that floats next to each other */
.hero-column {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 10px;

  img {
    width:100%;
    //max-height:100%;
  }

}

/* clear floats after the columns */
.hero-row:after {
  content: "";
  display: table;
  clear: both;
}


#intro {
  /*padding-top: 100px;*/
  color: black;
  /*margin-top: 100px;*/
  margin-bottom: 300px;
  h1 {
    padding-top: 9%;
    max-width: 600px;
    width: 80%;
    line-height: normal;
    font-size: 28pt;
    font-weight: bold;
    color: #27AE60;
    text-align: left;
    margin: 1em auto 0;
  } p {
    max-width: 600px;
    margin: 1em auto;
    text-align: left;
    width: 80%;
    line-height: 27px;
    font-size: 15px;
    /*height: 200px;*/
    color: #4F4F4F;
  } .large-trapezoid {
    margin-top: 30px;
  }
}

.clouds img {
  left: 50vw;
  width: 1400px;
  margin-left: calc(-1400px / 2 - 20px);
  position: relative;
  margin-top: -550px;
  margin-bottom: -120px;
  pointer-events: none;
}

.mountains {
  margin: 0 -15px;
}

.mountains img {
  width: 100%;
  margin-bottom: calc(100% / -5);
}

@media (min-width: 2000px) {
  #intro h1 {
    padding-top: 1%;
  }
}
@media (min-width: 1440px) {
  #intro p {
    font-size: 15pt;
  }
}
@media (max-width: 1136px) {
  #intro h1 {
    padding-top: 1%;
  }
}

/* NOTE: media queries for hero text found in index-page.html */
@media (max-width: 1136px) {
  .hero-column {
    width: 100%;
    img {
      display: none;
    }
  }
}
/* for large displays */
@media (min-width: 2000px) {
  .hero-column {
    padding-top: 0;
    width: 100%;
    img {
      display: none;
    }
  }
}



h2, p, ul, ol {
  font-size: 14pt;
}
h2 + p {
  margin-top: 5px;
}
.content {
  font-weight: 200;
  max-width: 900px;
  margin: 0 auto;
  text-align: justify;
  .column {
    width: calc(50% - 15px);
    display: inline-block;
  }
  .column + .column {
    float: right;
  }
}
@media (max-width: 768px) {
  .content .column {
    width: 100%;
    display: block;
  }
}
.wrapper {
  //padding: 0 15px;
  padding: 0 0;
  overflow: hidden;
}

body paper-card {
  margin: 50px auto;
  display: block;
  max-width: 600px;
}

#warning {
  color: red;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.large-trapezoid {
  display: inline-block;
  //color: $dark-fg;
  text-align: center;
  position: relative;
  //margin: 0 40px;
  max-width: calc(100vw - 100px);
  padding: 15px 20px;
  //background-color: $dark-bg;
  //-webkit-transform: skew(-10deg);
  //transform: skew(-10deg);
  h1, h2, h3 {
    //letter-spacing: 4px;
    padding: 0;
    margin: 0;
  }

  h1 {
    //font-weight: bold;
    //padding-bottom: 5px;
    //font-size: $tagline-font-size;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 28pt;
    font-weight: bold;
    margin-bottom: 0;
  }
  h2 {
    //font-weight: 200;
    //font-size: $infoline-font-size;
    text-decoration: none;
    font-weight: normal;
    font-size: 22pt;
    margin-top: 6px;
  }
  section {
    //-webkit-transform: skew(10deg);
    //transform: skew(10deg);
    padding: 0 60px;

    display: inline-block;
    h3 {
      letter-spacing: 2px;
      font-size: 30pt;
      font-weight: 500;
      color: $dark-fg-alt;
    }
  }
}
@media (max-width: 840px) {
  div.large-trapezoid section {
    padding: 0 20px;
  }
}
.small-trapezoid {
  position: relative;
  //height: 58px;
  //width: 338px;
  background-color: rgba(35,31,32,0.6);
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
  padding: 5px 30px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20pt;
  display: inline-block;
  margin: 30px 0;
}

star {
  position: absolute;
  background-image: url(/svg/Stars-Single.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  z-index: -100;
}

#sponsors {
  max-width: inherit;
  text-align: center;

  & > div {
    margin: 50px 0;
  }

  a.duo, a[duo] {
    position: relative;
    display: inline-block;
    img, svg {
      transition: opacity 0.5s;
      &.solid {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        filter: none;
      }
      &.transparent {
        pointer-events: none;
        opacity: 1;
      }
    }
    &:hover {
      img, svg {
        &.solid {
          opacity: 1;
        }
        &.transparent {
          opacity: 0;
        }
      }
    }
  }

  img, svg {
    vertical-align: middle;
    margin: 30px;
    max-width: calc(100% - 60px);
    $brightness: brightness(0.44);
    $filter: brightness(0) invert(1) $brightness;
    $filter-black: brightness(0);
    $filter-white: brightness(0) invert(1);
    $filter-grayscale: grayscale(1);

    -webkit-filter: $filter;
    -moz-filter: $filter;
    -o-filter: $filter;
    filter: $filter;

    transition : -webkit-filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, filter 0.5s;

    &.black:hover {
      -webkit-filter: $filter-black;
      -moz-filter: $filter-black;
      -o-filter: $filter-black;
      filter: $filter-black;
    }
    &.white:hover {
      -webkit-filter: $filter-white;
      -moz-filter: $filter-white;
      -o-filter: $filter-white;
      filter: $filter-white;
    }
    &.grayscale {
      -webkit-filter: $filter-grayscale;
      -moz-filter: $filter-grayscale;
      -o-filter: $filter-grayscale;
      filter: $filter-grayscale;
    }
    &:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -o-filter: none;
      filter: none;
    }
  }
}

lazy-pages {
  overflow: visible !important;
}
lazy-pages, lazy-pages > * {
  position: inherit !important;
}
