<dom-module id="nwhacks-footer">
  <template>
    <footer >
      <div class="skyline">
        <object data="/static/svg/Skyline-Footer-Cropped.svg" type="image/svg+xml"></object>
      </div>
      <table class="foot">
        <tbody>
          <tr>
            <td class="small-middle">
              nwHacks Team
              <table>
                <tbody>
                  <tr>
                    <td>
                      <a href="https://www.facebook.com/atsushi.yamamoto.7798">Atsushi Yamamoto</a>
                      <a href="https://www.facebook.com/davidbaldwin123">David Baldwynn</a>
                      <a href="https://www.rasky.co">Jerome Rasky</a>
                      <a href="https://www.facebook.com/lansichu">Lansi Chu</a>
                    </td>
                    <td>
                      <a href="https://www.facebook.com/ixxuul">Luxi Xu</a>
                      <a href="https://fn.lc">Tristan Rice</a>
                      <a href="https://www.facebook.com/max.leung.31">Max Leung</a>
                      <a href="http://saifsajid.com">Saif Sajid</a>
				  	</td>
				  	<td>
					  <a href="https://www.facebook.com/emilyhon">Emily Hon</a>
					  <a href="https://www.facebook.com/lauren.tonello?">Lauren Tonello</a>
					  <a href="https://www.facebook.com/looperluce">Luce Liu</a>
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <br>
            </td>
            <td class="small-first">
              <nav class="grid-container">
                <a href="/sponsors#sponsor">Become a Sponsor</a>
                <a href="mailto:sponsorship@nwhacks.io">Email Us</a>
                <a href="http://mlh.io/code-of-conduct">Code of Conduct </a>
              </nav>
              <br>
            </td>
            <td class="small-middle">
              <a href="https://www.facebook.com/nwHacks">Facebook</a>
              <a href="https://twitter.com/nwHacks">Twitter</a>
              <a href="https://medium.com/@nwHacks">Medium</a>
              <a href="https://www.instagram.com/nwhacksvancouver">Instagram</a>
              <br>
            </td>
            <td class="small-last">
              Organised and held by <a href="http://www.startupstorm.org/" target="_blank">StartupStorm</a>
            </td>
          </tr>
          <tbody>
      </table>
    </footer>

  </template>
  <script>
Polymer({
  is: "nwhacks-footer",
});
  </script>
</dom-module>
