<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">

<dom-module id="nwhacks-header">
    <template>
        <style include="shared-styles">
            :host {
                --header-color: white;
            }

            #header {
                padding-bottom: 200px;
                overflow-x: hidden;
                overflow-y: hidden;
                text-align: center;
            }

            #scenery {
                text-align: center;
                position: relative;
                left: 0px;
                right: 0px;
                text-align: center;
                margin-top: -50px;
            }

            #star-cluster {
                position: absolute;
                width: 100%;
                height: 224px;
                top: 70px;
                left: 222px;
                background: url("/svg/scenery/Stars.svg") repeat-x;
            }

            #mountain {
                position: absolute;
                height: 915.5px;
                left: -265.5px;
                top: 194.5px;
                z-index: -60;
            }

            #cloud-left {
                position: absolute;
                height: 174.22px;
                left: -71.5px;
                top: 435.78px;
                z-index: -45;
            }

            #tall-tree {
                position: absolute;
                height: 487px;
                left: -131px;
                top: 623px;
                z-index: -40;
            }

            #normal-tree {
                position: absolute;
                height: 303px;
                left: 81px;
                top: 665px;
                z-index: -41;
            }

            #medium-tree {
                position: absolute;
                height: 303px;
                left: 206px;
                top: 760px;
                z-index: -40;
            }

            #small-tree {
                position: absolute;
                height: 170px;
                left: 356.5px;
                top: 940px;
                z-index: -40;
            }

            #right-normal-tree {
                position: absolute;
                height: 368px;
                left: calc(70vw);
                top: 715px;
                z-index: -40;
            }

            #right-medium-tree {
                position: absolute;
                height: 440.5px;
                left: calc(80vw);

                top: 562.5px;
                z-index: -41;
            }

            #cloud-right {
                position: absolute;
                height: 208px;
                left: calc(55vw);
                top: 700px;
                z-index: -38;
            }

            #title {
                text-align: center;
            }

            #title img {
                height: var(--logo-size);
                padding: 75px 0;
                max-width: calc(100vw - 100px);
                max-height: calc(100vw - 100px);
                pointer-events: none;
            }

            #logos {
                position: relative;
                display: inline-block;
            }

            #logos>a {
                display: block;
            }

            #logos #main-logo {
                padding-top: 255px;
                padding-bottom: 50px;
                width: 150px;
                height: 215px;
            }

            #title .title-sponsor {
                position: absolute;
                bottom: 20px;
                right: -90px;
                display: inline-block;
            }

            #title .title-sponsor img {
                max-height: 80px;
                vertical-align: -13px;
            }

            #sponsor-line {
                font-size: 12pt;
            }

            #email-line {
                font-size: 15pt;
                padding-bottom: 10px;
                font-weight: normal;
                letter-spacing: 1px;
            }

            #buttons {
                text-align: center;
                z-index: 100;
                display: table;
                margin-right: auto;
                margin-left: auto;
            }

            #email-box {
                display: inline-block;
                font-size: 20px;
                padding: 15px 0 17px 18px;
                width: 383px;
                margin: 8px 0;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                border: 2px solid #2F80ED;
                border-right: none;
                height: 56px;
                position: relative;
                top: 2px;
            }

            #wide-button {
                display: inline-block;
                margin: 0px 0px 0px -5px;
                padding-top: 14px;
                text-transform: none !important;
                letter-spacing: 1px;
                /*width: 205px;*/
                margin-left: 20px;
                margin-right: 25px;
            }

            #wide-button:hover {
                background-color: #41ae78;
                box-shadow: 0px 3px 20px black;
            }

            #clear-wide-button {
                display: inline-block;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                -webkit-tap-highlight-color: transparent;
                background-color: transparent;
                color: #219653;
                height: 50px;
                border-bottom: 0px;
                outline-style: solid;
                outline-width: 3px;
                margin: 20px 0px 0px -5px;
                padding-top: 12px;
                text-transform: none !important;
                letter-spacing: 1px;
                width: 200px;
            }

            #clear-wide-button:hover {
                background-color: #41ae78;
                outline-color: green;
                color: white;
            }

            /* fix input padding for FireFox */

            @-moz-document url-prefix() {
                #header #email-box {
                    padding-bottom: 10px;
                    padding-top: 10px;
                }
            }

            @media(max-width: 700px) {
                #title .title-sponsor {
                    bottom: 10px;
                    right: -40px;
                }
                #title .title-sponsor img {
                    max-height: 50px;
                }
                #right-medium-tree,
                #small-tree,
                #normal-tree,
                #medium-tree,
                #cloud-right {
                    display: none;
                }
                #email-box {
                    width: 280px;
                }
                #buttons {
                    width: 200px;
                }

                #wide-button {
                    margin-top: 20px;
                    margin-left: -5px;
                    margin-right: 0px;
                    width: 208px;
                }
            }

            @media(max-width: 510px) {
                #logos #main-logo {
                    padding-top: 130px;
                }
            }

            @media(max-width: 500px) {
                #email-line {
                    font-size: 11pt;
                }
                #email-box {
                    width: 170px;
                    font-size: 15px;
                    padding-top: 18px;
                    padding-left: 10px;
                }
                #cloud-left {
                    display: none;
                }
            }

            .large-trapezoid {
                display: inline-block;
                text-align: center;
                position: relative;
                max-width: calc(100vw - 100px);
                padding: 15px 20px;
            }

            .large-trapezoid h1,
            .large-trapezoid h2,
            .large-trapezoid h3 {
                padding: 0;
                margin: 0;
            }

            .large-trapezoid h1 {
                text-decoration: none;
                letter-spacing: 1px;
                font-size: 28pt;
                font-weight: bold;
                margin-bottom: 0;
            }

            .large-trapezoid h2 {
                text-decoration: none;
                font-weight: normal;
                font-size: 22pt;
                margin-top: 6px;
            }

            .large-trapezoid section {
                padding: 0 60px;

                display: inline-block;
            }

            .large-trapezoid section h3 {
                letter-spacing: 2px;
                font-size: 30pt;
                font-weight: 500;
                color: $dark-fg-alt;
            }

            @media (max-width: 840px) {
                div.large-trapezoid section {
                    padding: 0 20px;
                }

            }

            @media (max-width: 772px) {
                .large-trapezoid {
                    max-width: calc(100vw);
                }
                .large-trapezoid h1 {
                    font-size: 25pt;
                }
                .large-trapezoid h2 {
                    font-size: 18pt;
                    margin-top: 6px;
                }
            }

            @media (max-width: 345px) {
                .large-trapezoid {
                    max-width: calc(100vw);
                }
                .large-trapezoid h1 {
                    font-size: 22pt;
                }
                .large-trapezoid h2 {
                    font-size: 18pt;
                    margin-top: 6px;
                }
            }

            .small-trapezoid {
                position: relative;
                background-color: rgba(35, 31, 32, 0.6);
                -webkit-transform: skew(-10deg);
                transform: skew(-10deg);
                padding: 5px 30px;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 20pt;
                display: inline-block;
                margin: 30px 0;
            }
        </style>

        <div id="header">
            <div id="scenery">
                <div id="star-cluster"></div>
                <img src="/svg/scenery/big_mountain.svg" id="mountain">
                <img src="/svg/scenery/tall_tree.svg" id="tall-tree">
                <img src="/svg/scenery/medium_tree.svg" id="normal-tree">
                <img src="/svg/scenery/medium_tree.svg" id="medium-tree">
                <img src="/svg/scenery/short_tree.svg" id="small-tree">
                <img src="/svg/scenery/medium_tree.svg" id="right-normal-tree">
                <img src="/svg/scenery/medium_tree.svg" id="right-medium-tree">
            </div>


            <div id="title">
                <div id="logos">
                    <a href="/">
                        <img src="/svg/nwHacks_logo.svg" id="main-logo">
                    </a>
                </div>
                <br>
                <div class="large-trapezoid">
                    <h1>Western Canada's Largest Hackathon</h1>
                </div>
            </div>
            <div id="buttons">
                <h3>Stay tuned for nwHacks 2019!</h3>
                <br>
                <a class="none" href="https://nwhacks2018.devpost.com/"><paper-button class="register" id="wide-button">View Hacks</paper-button></a>
                <a class="none" href="https://2017.nwhacks.io"><paper-button id="clear-wide-button">Previous Hacks</paper-button></a>


                <!-- <a class="none" href="https://2017.nwhacks.io">
                    <paper-button id="clear-wide-button">Previous Hacks</paper-button>
                </a> -->
                <!--
                <a class="none" href="/volunteer"><paper-button id="clear-wide-button">Volunteer</paper-button></a>
                <a class="none" href="/register"><paper-button class="register" id="wide-button">Register</paper-button></a>
                <a class="none" href="/mentorexpo"><paper-button  class="register" id="clear-wide-button">Mentor/Judge</paper-button></a>
                <br>

                <h3>Registration is now closed.</h3>
                -->
                <br>
                <br>

                <!-- <a href="/sponsors" class="link" id="sponsor-line">Interested in becoming a sponsor?</a> -->
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: "nwhacks-header",

            submitEmail: function () {
                this.$.emailForm.submit()
            }
        })
    </script>
</dom-module>