<dom-module id="dayof-page">
  <template>
    <style>
      .left {
        width: 520px;
        display: inline-block;
      }
      .right {
        width: calc(100% - 550px);
        display: inline-block;
        float: right;
      }
      .half {
        width: calc(33% - 5px);
        display: inline-block;
        float: left;
      }
      .left, .right, .half {
        padding-bottom: 100px;
      }
      @media (max-width: 1250px) {
        .left, .right, .half {
          width: 100%;
          max-width: 900px;
          display: block;
          float: inherit;
          margin: 0 auto;
        }
      }
      #twitter {
        text-align: center;
      }
    </style>
    <center>
      <br>
      <a href="https://nwhacks2016.devpost.com/">
        <paper-button class="register">submit hack</paper-button>
      </a>
      <a href="https://q.nwhacks.io/">
        <paper-button class="button">get help</paper-button>
      </a>
    </center>
    <div id="twitter" class="left">
      <h1>UPDATES</h1>
      <a class="twitter-timeline" href="https://twitter.com/nwHacks" data-widget-id="701669388655562756">Tweets by @nwHacks</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <schedule-box class="right"></schedule-box>
    <div id="prizes" class="half">
      <h1>PRIZES</h1>
      <ul>
        <li>
          <h2>TBD Prize</h2>
          <p>
          100 bars of gold!
          </p>
        </li>
      </ul>
    </div>
    <div id="api" class="half">
      <h1>SPONSOR APIs</h1>
      <p>
      Check out the APIs provided by our awesome sponsors!
      </p>
      <ul>
        <li>
          <h2>Lob</h2>
          <p>
          TODO: Description
          </p>
        </li>
        <li>
          <h2>Clairfai</h2>
          <p>
          TODO: Description
          </p>
        </li>
        <li>
          <h2>Wolfram</h2>
          <p>
          TODO: Description
          </p>
        </li>
        <li>
          <h2>Namecheap</h2>
          <p>
          TODO: Description
          </p>
        </li>
      </ul>
    </div>
    <div id="hardware" class="half">
      <h1>HARDWARE</h1>
      <p>
        Due to limited amount of hardware the availability is not guaranteed.
      </p>
      <ul>
        <li>
          <h2>TODO: 100 Raspberry Pi's</h2>
          <p>
          Who doesn't love Raspberry Pi?
          </p>
        </li>
      </ul>
    </div>
  </template>
  <script>
Polymer({
  is: "dayof-page",
});
  </script>
</dom-module>
