<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../role-styles.html">

<dom-module id="lead-designer-role">
    <template>
        <style include="role-styles">
            :host {
                display: block;
            }
        </style>
        <div id="aurora">
            <div id="small-tagline">nwHacks is searching for a</div>
            <div id="tagline">Lead Visual Designer</div>
        </div>
        <div id="content">
            <h2>You will...</h2>
            <p>
                <ul>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" /> Work with the Marketing Director to establish a consistent brand direction for nwHacks 2019.
                    </li>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" /> Spearhead the creation of the 2019 brand style guide.
                    </li>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" /> Lead the design team to create all digital and physical artefacts for marketing and events (e.g. campaign graphics, sponsorship package, t-shirts, slide deck, nametags).
                    </li>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" /> Collaborate with the UX/UI Designer to ensure branding consistency on the web experience.
                    </li>
                </ul>
            </p>

            <h2>You are...</h2>
            <p>
                <ul>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" /> A strong visual designer with ample experience with Adobe Creative Suite, Sketch, or other design
                        tools.
                    </li>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" /> A master of the fundamentals of design, including but not limited to colour theory, layout, and
                        typography. You know how to apply these elements to create a style that is memorable, consistent,
                        and true to a brand’s personality.
                    </li>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" /> Always ideating and iterating innovative ways to improve your designs.
                    </li>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" /> Excited about keeping up with and applying the latest design trends.
                    </li>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" /> In Vancouver during the 2018-2019 academic year.
                    </li>
                </ul>
            </p>

            <h2>You'll gain...</h2>
            <p>
                <ul>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" /> A strong portfolio piece demonstrating applied visual design and branding skills.
                    </li>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" /> The opportunity to design an end-to-end digital and in-person experience for over a thousand people.
                    </li>
                </ul>
                <br>
                <b>Please include a portfolio or sample of your work.</b>
            </p>
            <a href="/hiring_form"><paper-button>Apply now</paper-button></a>
        </div>

    </template>


    <script>
        class LeadDesignerRole extends Polymer.Element {
            static get is() { return 'lead-designer-role' }
        }

        customElements.define(LeadDesignerRole.is, LeadDesignerRole)
    </script>

</dom-module>