<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-badge/paper-badge.html">
<link rel="import" href="../../bower_components/paper-range-slider/paper-range-slider.html">

<link rel="import" href="../firebase-config/firebase-config.html">
<link rel="import" href="../lunr-js.html">
<link rel="import" href="../light-page.html">
<link rel="import" href="../review-submission.html">
<link rel="import" href="../nw-score.html">
<link rel="import" href="../nw-viewing.html">

<dom-module id="select-hackers">
  <template>
    <style include="light-page">
      :host {
        display: flex;
        flex-direction: column;

        height: calc(100vh - 65px);

        padding-bottom: 0;
        height: calc(100vh - 65px);
        padding: 0;

        --paper-input-container: {
          padding-bottom: 16px;
        };
      }

      #filters {
        padding: 0 15px;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;
        flex-shrink: 0;
      }

      #search {
        flex-grow: 100000;
      }

      #form {
        width: 150px;
      }

      li {
        margin: 15px 0;
      }

      iron-list {
        margin: 0 0;
        overflow-x: hidden;
      }

      table {
        text-align: left;
        width: 100%;
        table-layout: fixed;
      }
      a {
        color: green;
      }
      .tag {
        color: green;
        font-weight: bold;
        display: inline-block;
        padding: 5px;
        margin: 5px;
        border: 2px solid green;
      }
      .tag.bad {
        color: red;
        border-color: red;
      }
      .tag.warn {
        color: orange;
        border-color: orange;
      }
      .right {
        float: right;
      }
      .card-actions {
        display: flex;
        justify-content: space-between;
      }
      .card-actions paper-checkbox {
        margin-left: 8px;
      }
      a {
        cursor: pointer;
      }
      [label="Status"] {
        width: 100px;
      }
      [label="Response"] {
        width: 170px;
      }

      #container {
        display: flex;
        flex-grow: 10000;
        overflow: hidden;
      }

      #list {
        width: 320px;
        flex-shrink: 0;
      }
      #list[big] {
        flex-grow: 10000;
      }

      #review {
        flex-grow: 1000;
      }

      paper-item {
        cursor: pointer;
      }

      paper-input {
        --paper-icon-button: {
          height: 24px;
          width: 24px;
          padding: 2px;
        };
      }
    </style>
    <div id="filters">
      <paper-dropdown-menu id="form" label="Form" selected-item-label="{{form}}">
        <paper-listbox slot="dropdown-content">
          <paper-item>registration</paper-item>
          <paper-item>mentorexpo</paper-item>
          <paper-item>volunteer</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>
      &nbsp;

      <paper-input
        id="search"
        label="Search"
        value="{{filters.search}}"
        minlength="3"
        stop-keyboard-event-propagation
        auto-validate>
        <paper-icon-button
          slot="suffix"
          on-tap="clearSearch"
          icon="clear"
          alt="clear"
          hidden$="[[!filters.search]]"
          title="clear">
        </paper-icon-button>
      </paper-input>
      &nbsp;

      <paper-icon-button
        id="showFilters"
        icon="filter-list"
        on-tap="showFilters">
      </paper-icon-button>
      <template is="dom-if" if="[[numFilters(filters, filters.*)]]">
        <paper-badge
          for="showFilters"
          label="[[numFilters(filters, filters.*)]]">
        </paper-badge>
      </template>

      &nbsp;

      <span>
        Showing
        <span>{{filteredCount}}</span>
        of
        <span>{{totalCount}}</span>
      </span>
      &nbsp;

      <a on-tap="export">Export</a>
    </div>

    <div id="container">
      <iron-list
        id="list"
        items="{{filtered}}"
        big$="[[!sid]]"
        as="hacker">
        <template>
          <div>
            <paper-item on-tap="select">
              <paper-item-body two-line>
                <div>
                  <span class="right">[[index(hacker)]]</span>
                  [[title(hacker)]]
                </div>
                <div secondary>
                  <template is="dom-if" if="[[hacker.criteria]]">
                    <nw-score
                      score="[[hacker.criteria.score]]"
                      total="[[hacker.criteria.total]]"
                      class="right">
                    </nw-score>
                  </template>

                  <nw-viewing
                    class="right"
                    position="left"
                    viewers="[[hacker.viewers]]"
                    email="[[user.email]]"
                    name="[[user.displayName]]">
                  </nw-viewing>

                  [[hacker.email]]
                </div>
              </paper-item-body>
            </paper-item>
          </div>
        </template>
      </iron-list>

      <review-submission
        hidden$="[[!sid]]"
        id="review"
        form="[[form]]"
        sid="[[sid]]"
        email="[[user.email]]"
        name="[[user.displayName]]"
        disabled="[[!isAdmin]]"
        questions="[[questions]]"
        search="[[filters.search]]"
        _questions="{{_questions}}">
      </review-submission>
    </div>

    <paper-dialog id="filterhelp" modal>
      <h2>Filters</h2>
      <paper-dialog-scrollable>
        <paper-input-container always-float-label>
          <label slot="label">Score</label>
          <span slot="input" class="paper-input-input">
            <paper-range-slider
              min="[[filterDefaults.scoreMin]]"
              max="[[filterDefaults.scoreMax]]"
              value-min="{{filters.scoreMin}}"
              value-max="{{filters.scoreMax}}"
              pin>
            </paper-range-slider>
          </span>
        </paper-input-container>

        <paper-dropdown-menu
          label="Missing Criteria"
          selected-item-label="{{filters.missingCriteria}}">

          <paper-listbox slot="dropdown-content">
            <paper-item></paper-item>
            <template is="dom-repeat" items="[[_questions]]">
              <paper-item>[[item.slug]]</paper-item>
            </template>
          </paper-listbox>
        </paper-dropdown-menu>

        <h3>Properties</h3>
        <p>
          You can filter search results by specific properties by adding
          <code>property:value</code> pairs.
        </p>
        <div>
          <ul>
            <template is="dom-repeat" items="[[filterFields(fields, questions)]]">
              <li>
                <p>
                <code>[[item.name]]</code>: [[item.label]]
                </p>
                <p>
                Type: <code>[[item.type]]</code>
                </p>
              </li>
            </template>
          </ul>
        </div>
      </paper-dialog-scrollable>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>close</paper-button>
      </div>
    </paper-dialog>

    <firebase-query
      id="regs"
      disabled="[[!isAdmin]]"
      path="/form/[[form]]"
      data="{{registrations}}">
    </firebase-query>

    <app-route
      route="{{route}}"
      active="{{routeActive}}"
      pattern="/:form/:sid"
      data="{{routeData}}"
      tail="{{subRoute}}">
    </app-route>

  </template>
  <script src="/bower_components/comma-separated-values/csv.min.js"></script>
  <script src="./select-hackers.js"></script>
</dom-module>
