<dom-module id="sponsor-page">
  <template>
    <style>
      :host {
        display: block;
      }
      #pdf {
        margin-top: 50px;
        text-align: center;
      }
      #sponsor {
        padding-top: 100px;
        margin-top: -100px;
      }
      h1, h2, h3 {
        text-transform: uppercase;
      }
    </style>
    <h1 id="sponsor">SPONSOR US</h1>
    <div class="content">
      <h2>About</h2>
      <p>
      nwHacks (Northwest Hacks) is an annual hackathon held at the University of British Columbia, shaping up to be the premier community event for young hackers and engineers in the Pacific Northwest Region - including both the US and
      Canada. Our event will host some of the best up-and-coming engineers and developers from across the continent and beyond to
      create mobile, web, and hardware hacks for 24 hours. Bringing in students from around the region, nwHacks is
      committed to encouraging and kickstarting a culture of innovation, entrepreneurship, and community among
      future hackers of the region. We seek to keep innovation in the area through the hackathon and by providing a
      welcoming, supportive environment to allow everyone to realize their dreams and develop their skills.
      </p>
      <h2>When &#38; Where</h2>
      <p>
      nwHacks 2015 is scheduled to take place in February 2016 on the University of British Columbia campus. We are expecting 600 students to attend our event from multiple universities across North America.
      </p>
      <h2>Why Sponsor</h2>
      <p>
      With untapped talent from Seattle, Vancouver, and beyond, nwHacks has huge potential for companies looking to recruit the top talent from the top schools. Compared to traditional recruitment strategies, sponsoring a hackathon represents a high-value and low-cost way to secure talent for your company. Many companies have found some of their best employees through hackathons. Hackathons also provide sponsors the opportunity to get real feedback on their products by developers who use them. Sponsors can demo their API in front of participants, generating publicity for themselves and growing developer awareness of their products and services.
      </p>
      <h2>Get the most out of your sponsorship</h2>
      <h3>Send Company Swag</h3>
      <p>
        Sending branded stickers, T-shirts, water bottles, etc., is a great way for sponsors to promote their company brand through passive advertising. Hackers love swag, so the more you bring, the more successful your sponsorship will be!
      </p>
      <h3>Send Engineers</h3>
      <p>
        Sending engineers is a surefire way to connect hackers with your company. Sending technical employees to explain what they do and how their product works is sure get the attention of the best hackers at nwHacks. This is a great way for you to connect with your audience and increase your recruitment/promotion potential!
      </p>
      <h3>Bring your API or Product</h3>
      <p>
        You can get real eyeballs in front of your product with a sweet demo. Many companies who have sponsored hackathons in the past have expanded their API use through API demos. This is also a great way to get invaluable evaluation of your product at the alpha stage, from some of the top hackers in Canada and the US.
      </p>
    </div>
    <p id="pdf">
      <a href="/sponsors.pdf">
        <paper-button class="button">get the sponsorship pdf</paper-button>
      </a>
    </p>
  </template>

  <script>
// element registration
Polymer({
  is: "sponsor-page",

  properties: {
  }
});
  </script>

</dom-module>
