<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="../light-page.html">
<link rel="import" href="../generic-form.html">
<link rel="import" href="../city-input.html">
<link rel="import" href="../github-input.html">

<dom-module id="register-form">
  <template>
    <style include="light-page">
      :host {
        display: block;
      }
      paper-checkbox, input[type="file"] {
        display: block;
        padding: 8px 0px;
      }
    </style>

    <h1 title>Registration</h1>

    <generic-form name="registration" data="{{data}}">
      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Invalid Phone Number"
        label="What is your phone number?"
        type="tel"
        value="{{data.phone}}">
      </paper-input>

      <paper-dropdown-menu
        required
        auto-validate
        error-message="Required"
        label="Which gender do you identify as?"
        selected-item-label="{{data.gender}}">

        <paper-listbox slot="dropdown-content">
          <paper-item>Female</paper-item>
          <paper-item>Male</paper-item>
          <paper-item>Non-binary</paper-item>
          <paper-item>Prefer not to specify</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Required"
        label="What is your birthday?"
        type="date"
        value="{{data.birthday}}">
      </paper-input>

      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Required"
        label="What school do you currently attend?"
        value="{{data.school}}">
      </paper-input>

      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Required"
        label="What is your major?"
        value="{{data.major}}">
      </paper-input>

      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Required, must be at least 2018"
        label="What is your graduation year?"
        type="number"
        min="2018"
        value="{{data.graduation}}">
      </paper-input>

      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Required"
        label="What is the name of your emergency contact?"
        value="{{data.emergency_name}}">
      </paper-input>

      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Invalid Phone Number"
        label="What the phone number of your emergency contact?"
        type="tel"
        value="{{data.emergency_phone}}">
      </paper-input>

      <city-input
        label="Where are you traveling from?"
        value="{{data.city}}">
      </city-input>

      <paper-checkbox
        checked="{{data.travel_reimbursement}}">
        Would you like to apply for travel reimbursement?
      </paper-checkbox>
      <p>
        If you are coming from the University of Washington, or the surrounding
        area, we will be providing shuttle busses.
        <br>
        Note: If selected to participate, we will only be subsidizing a maximum
        of $200.
      </p>

      <paper-checkbox
        checked="{{data.first_hackathon}}">
        Is this your first hackathon?
      </paper-checkbox>

      <paper-dropdown-menu
        required
        auto-validate
        error-message="Required"
        label="T-Shirt Size"
        selected-item-label="{{data.tshirt}}">
        <paper-listbox slot="dropdown-content">
          <paper-item>S</paper-item>
          <paper-item>M</paper-item>
          <paper-item>L</paper-item>
          <paper-item>XL</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-dropdown-menu
        required
        auto-validate
        error-message="Required"
        label="Do you have any dietary restrictions or alergies?"
        selected-item-label="{{data.dietary}}">
        <paper-listbox slot="dropdown-content">
          <paper-item>No</paper-item>
          <paper-item>Vegetarian</paper-item>
          <paper-item>Vegan</paper-item>
          <paper-item>Gluten Free</paper-item>
          <paper-item>Other</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-input
        required="[[eq(data.dietary, 'Other')]]"
        hidden$="[[!eq(data.dietary, 'Other')]]"
        auto-validate
        maxlength="200"
        error-message="Required"
        label="Please specify"
        value="{{data.dietary_other}}">
      </paper-input>

      <github-input
        label="GitHub"
        value="{{data.github}}">
      </github-input>

      <paper-input
        maxlength="200"
        label="LinkedIn"
        value="{{data.linkedin}}">
        <div slot="prefix">https://linkedin.com/in/</div>
      </paper-input>

      <paper-input
        maxlength="200"
        label="Personal Site"
        auto-validate
        error-message="Invalid URL"
        value="{{data.personalsite}}"
        type="url">
      </paper-input>

      <paper-input
        required
        auto-validate
        error-message="Required"
        always-float-label
        type="file"
        label="Resume"
        name="resume">
      </paper-input>

      <paper-textarea
        required
        auto-validate
        error-message="Required"
        label="What do you want to get out of nwHacks?"
        value="{{data.reason}}">
      </paper-textarea>

      <paper-textarea
        required
        auto-validate
        error-message="Required"
        label="If you were a piece of technology, what would you be?"
        value="{{data.technology}}">
      </paper-textarea>

      <paper-checkbox checked="{{data.volunteer}}">
        If you are not able to come to nwHacks as a participant, would you be interested in volunteering for the event?
      </paper-checkbox>

      <paper-checkbox checked="{{data.newsletter}}">
        Would you like to sign up for StartupStorm’s newsletter to be informed of other tech events and hackathons happening in and around Vancouver?
      </paper-checkbox>

      <paper-dropdown-menu
        required
        auto-validate
        error-message="Required"
        label="How did you hear about nwHacks?"
        selected-item-label="{{data.hear}}">
        <paper-listbox slot="dropdown-content">
          <paper-item>MLH</paper-item>
          <paper-item>Social Media</paper-item>
          <paper-item>Website</paper-item>
          <paper-item>Word of Mouth</paper-item>
          <paper-item>Club Newsletter</paper-item>
          <paper-item>Faculty Newsletter</paper-item>
          <paper-item>Professor/In Class</paper-item>
          <paper-item>Other</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-input
        required="[[eq(data.hear, 'Other')]]"
        hidden$="[[!eq(data.hear, 'Other')]]"
        auto-validate
        maxlength="200"
        error-message="Required"
        label="Please specify"
        value="{{data.hear_other}}">
      </paper-input>

      <p>
        We participate in Major League Hacking (MLH) as a MLH Member Event. You authorize us to share certain application/registration information for event administration, ranking, MLH administration, and occasional messages about hackathons in line with the
        <a target="_blank" href="https://mlh.io/privacy">MLH Privacy Policy</a>.
      </p>

      <paper-checkbox
        required
        auto-validate
        error-message="Required">
        I will at all times abide by and conform to the <a target="_blank" href="http://mlh.io/code-of-conduct">Major League Hacking Code of Conduct</a> while at the event.
      </paper-checkbox>
    </generic-form>

  </template>

  <script src="register-form.js"></script>
</dom-module>
