<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="area-img">
  <template>
    <style>
      a {
        text-decoration: none;
      }
      a.duo, a[duo] {
        position: relative;
        display: inline-block;
      }
      a.duo img, a.duo svg, a[duo] img, a[duo] svg {
        transition: opacity 0.5s;
      }
      a.duo img.solid, a.duo svg.solid, a[duo] img.solid, a[duo] svg.solid {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        filter: none;
      }
      a.duo img.transparent, a.duo svg.transparent, a[duo] img.transparent, a[duo] svg.transparent {
        pointer-events: none;
        opacity: 1;
      }
      a.duo:hover img.solid, a.duo:hover svg.solid, a[duo]:hover img.solid, a[duo]:hover svg.solid {
        opacity: 1;
      }
      a.duo:hover img.transparent, a.duo:hover svg.transparent, a[duo]:hover img.transparent, a[duo]:hover svg.transparent {
        opacity: 0;
      }
      img, svg {
        vertical-align: middle;
        margin: 30px;
        max-width: calc(100% - 60px);
        -webkit-filter: brightness(0) invert(1);
        -moz-filter: brightness(0) invert(1);
        -o-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
        transition: -webkit-filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, filter 0.5s;
      }
      img.black:hover, svg.black:hover {
        -webkit-filter: brightness(0);
        -moz-filter: brightness(0);
        -o-filter: brightness(0);
        filter: brightness(0);
      }
      img.white:hover, svg.white:hover {
        -webkit-filter: brightness(0) invert(1);
        -moz-filter: brightness(0) invert(1);
        -o-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);
      }
      img.grayscale, svg.grayscale {
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        filter: grayscale(1);
      }
      img:hover, svg:hover {
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        filter: none;
      }
    </style>

    <a href="[[href]]" duo$="[[isDuo]]">
      <img id="img"
           src="[[src]]"
           class="transparent"
           on-load="updateSize"
           width="[[computedWidth]]">

      <template is="dom-if" if="[[srcSolid]]">
        <img src="[[srcSolid]]"
             class="solid"
             width="[[computedWidth]]">
      </template>
    </a>
  </template>

  <script>
class AreaImage extends Polymer.Element {
  static get is () { return 'area-img' }

  static get properties () {
    return {
      src: {
        type: String,
        value: "",
      },
      href: {
        type: String,
        value: "",
      },
      srcSolid: {
        type: String,
        value: "",
      },
      area: {
        type: Number,
        value: 43200,
      },
      isDuo: {
        type: Boolean,
        computed: 'computeDuo(srcSolid)',
      }
    }
  }

  // visualArea looks at the left and right most pixel of the image at each line
  // and uses it to calculate the visual area of the image.
  visualArea () {
    const w = 100;
    const h = 100;
    const canvas = document.createElement('canvas');
    canvas.width = w;
    canvas.height = h;
    const context = canvas.getContext('2d');
    context.drawImage(this.$.img, 0, 0, w, h);
    const data = context.getImageData(0,0, w, h).data;
    const stride = 4;
    let area = 0;
    for (let y = 0; y < h; y++) {
      let leftMost = -1;
      let rightMost = w;
      for (let x = 0; x < w; x++) {
        const start = (y*h + x)*stride;
        const transparent = data[start+3] == 0; // Check if alpha is 0.
        if (!transparent) {
          rightMost = x;
          if (leftMost < 0) {
            leftMost = x;
          }
        }
      }
      area += (rightMost - leftMost)*this.width/w;
    }
    return area*this.height/h;
  }

  updateSize () {
    const height = this.$.img.height
    const width = this.$.img.width

    const naturalArea = height*width;
    //const visualArea = this.visualArea();
    const scalingFactor = Math.sqrt(this.area/naturalArea);
    this.computedHeight = scalingFactor*height;
    this.computedWidth = scalingFactor*width;
  }

  computeDuo (srcSolid) {
    return srcSolid.length > 0;
  }
}

customElements.define(AreaImage.is, AreaImage)
  </script>
</dom-module>
