<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-autocomplete/paper-autocomplete.html">

<dom-module id="city-input">
  <template>
    <style include="shared-styles">
      :host {
        --paper-input-container: {
          padding-bottom: 8px;
        };
        display: block;
        padding-bottom: 42px;
      }
    </style>

    <iron-ajax
            auto
            url="[[updateCitiesURL(input)]]"
            handle-as="json"
            on-response="updateSuggestions"
            debounce-duration="300">
    </iron-ajax>

    <paper-autocomplete
            id="input"
            required
            maxlength="200"
            error-message="Required"
            placeholder="[[placeholder]]"
            label="{{label}}"
            value="{{value}}"
            remote-source
            on-autocomplete-change="handleChange">
    </paper-autocomplete>
  </template>

  <script>
  class CityInput extends Polymer.Element {
    static get is () { return 'city-input' }

    static get properties () {
      return {
        value: {
          notify: true
        },

        placeholder: {
          type: String,
          value: 'Enter your city and province/state'
        },

        label: {
          type: String
        },

        name: {
          type: String
        }

      }
    }

    validate () {
      return this.$.input.validate()
    }

    updateCitiesURL (city) {
      if (!city) {
        return ''
      }
      return 'https://api.teleport.org/api/cities/?limit=5&search=' + city
    }

    handleChange (e) {
      this.input = e.detail.option.text
      this.setSuggestions([])
    }

    setSuggestions (results) {
      const formatted = this.capitalize(this.input)
      results.push({
        text: 'Use "' + formatted + '"',
        value: formatted
      })
      this.$.input.suggestions(results)
    }

    updateSuggestions (e) {
      const s = []
      if (e.detail.response) {
        const data = e.detail.response
        const cities = data && data._embedded['city:search-results'];
        for (let city of cities) {
          s.push({
            text: city.matching_full_name,
            value: city.matching_full_name
          })
        }
      }
      this.setSuggestions(s)
    }

    capitalize (str) {
      const parts = []
      for (const part of str.toLowerCase().trim().split(' ')) {
        if (part === 'of') {
          continue
        }

        parts.push(part.slice(0, 1).toUpperCase() + part.slice(1))
      }
      return parts.join(' ')
    }

    cleanCities (cities) {
      return
    }

    selectCity (e) {
      this.set('value', e.model.item.matching_full_name)
    }
  }

  customElements.define(CityInput.is, CityInput)
  </script>
</dom-module>
