<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">

<link rel="import" href="firebase.js.html">

<dom-module id="generic-form">
  <template>
    <style include="shared-styles">
      form {
        max-width: 640px;
        margin: 0 auto;
      }
      .invalid {
        color: red;
      }
    </style>

    <template is="dom-if" if="[[_closed]]">
      <center>
        <p>Sorry, submissions are now closed. Please try again next year!</p>
      </center>
    </template>

    <form id="form" hidden$="[[_closed]]">
      <slot name="intro">
      </slot>

      <paper-input
          required
          auto-validate
          maxlength="200"
          error-message="Required"
          label="What is your legal first name?"
          placeholder="Enter your first name"
          name="first_name"
          value="{{data.first_name}}">
      </paper-input>

      <paper-input
          required
          auto-validate
          maxlength="200"
          error-message="Required"
          label="What is your legal last name?"
          placeholder="Enter your last name"
          name="last_name"
          value="{{data.last_name}}">
      </paper-input>

      <paper-input
          required
          auto-validate
          maxlength="200"
          error-message="Invalid Email"
          type="email"
          placeholder="hacker@email.com"
          label="What is your email?"
          name="email"
          value="{{data.email}}">
      </paper-input>

      <p class="invalid" hidden$="{{!alreadySubmitted}}">
      You've already submitted once. You can do so again, but only your last
      submission will be considered.
      </p>

      <slot></slot>

      <p class="invalid" hidden$="{{valid}}">
        You must fill out all required fields.
      </p>

      <center>
        <paper-button elevation="1" on-tap="submit" class="register">Submit</paper-button>
      </center>
    </form>

    <paper-dialog id="registered" modal>
      <h2>Submitted!</h2>
      <p>All set! We'll get back to you in a few weeks.</p>
      <div class="buttons">
        <a href="/"><paper-button dialog-confirm autofocus>Return Home</paper-button></a>
      </div>
    </paper-dialog>

    <paper-dialog id="submitting" modal>
      <h2>Submitting...</h2>
      <p>
        <paper-progress indeterminate></paper-progress>
      </p>
    </paper-dialog>

    <paper-dialog id="error" modal>
      <h2>Error Submitting</h2>
      <p>[[error]]</p>
      <p>Please try again later or use a different browser.</p>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>close</paper-button>
      </div>
    </paper-dialog>
  </template>
  <script>
  class GenericForm extends Polymer.Element {
    static get is () { return 'generic-form' }
    static get properties () {
      return {
        name: {
          type: String
        },

        isAdmin: {
          type: Boolean,
          value: false
        },

        alreadySubmitted: {
          type: Boolean,
          value: false
        },

        valid: {
          type: Boolean,
          notify: true,
          value: true
        },

        data: {
          value: () => { return {} },
          notify: true,
          type: Object
        },

        closed: {
          value: false,
          type: Boolean
        },

        _closed: {
          type: Boolean,
          computed: '_computeClosed(closed, isAdmin)'
        }
      }
    }

    static get observers () {
      return [
        'checkEmail(data.email)'
      ]
    }

    _computeClosed (closed, isAdmin) {
      return closed && !isAdmin
    }

    checkEmail (email) {
      if (this.checkEmailTimeout) {
        clearTimeout(this.checkEmailTimeout)
        this.checkEmailTimeout = false
      }

      if (!email) {
        return
      }

      this.checkEmailTimeout = setTimeout(() => {
        this.checkEmailTimeout = false

        firebase.database()
          .ref('emails/' + this.name)
          .child(btoa(this.data.email))
          .once('value')
          .then((snapshot) => {
            var val = snapshot.val()
            this.alreadySubmitted = !!val
          })
      }, 200)
    }

    validate () {
      let valid = true
      for (const input of this.inputs()) {
        if (!input.validate()) {
          valid = false
        }
      }
      this.valid = valid
      return valid
    }

    inputs () {
      return Array.from(this.children)
                  .concat(Array.from(this.$.form.children))
                  .filter((a) => a.validate)
    }

    fileInputs () {
      return this.inputs().filter((a) => a.type === 'file')
    }

    submit () {
      if (!this.validate()) {
        return
      }

      this.$.submitting.open()
      const userKey = firebase.database().ref('ids').push().key

      var filePromise = Promise.resolve()

      for (const fileInput of this.fileInputs()) {
        const type = fileInput.name
        const files = fileInput.inputElement.inputElement.files
        if (files.length > 0) {
          const file = files[0]
          const fileName = this.cleanFileName(file.name)
          const filePath = this.name + '/' + type + '/' + userKey + '-' + fileName
          this.data[type] = filePath
          filePromise = firebase.storage().ref(filePath).put(file)
        }
      }

      filePromise.then(() => {
        this.data.submitted = firebase.database.ServerValue.TIMESTAMP
        return firebase.database().ref('form/' + this.name).child(userKey).set(this.data)
      }).then(() => {
        return firebase.database()
          .ref('emails/' + this.name)
          .child(btoa(this.data.email))
          .set(true)
      }).then((e) => {
        console.log('Registered', e)
        this.$.submitting.close()
        this.$.registered.open()
      }).catch((err) => {
        console.log('Error!', err)
        this.error = err && err.message || err
        this.$.submitting.close()
        this.$.error.open()
      })
    }

    cleanFileName (name) {
      return name.replace(/[^A-Za-z0-9\.\-\(\)]+/g, '-')
    }
  }

  customElements.define(GenericForm.is, GenericForm)
  </script>
</dom-module>
