<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="html-sandbox">
  <template>
    <style>
      :host {
        display: flex;
        margin: 16px 0;
      }
      iframe {
        border: none;
        width: 100%;
      }
    </style>

    <iframe id="frame" sandbox src="[[_html]]">
    </iframe>
  </template>
  <script>
class HTMLSandbox extends Polymer.Element {
  static get is () { return 'html-sandbox' }

  static get properties () {
    return {
      html: String
    }
  }

  static get observers () {
    return [
      'dataURL(html)'
    ]
  }

  dataURL (html) {
    this._debouncer = Polymer.Debouncer.debounce(
      this._debouncer,
      Polymer.Async.timeOut.after(300),
      () => {
        this._html = 'data:text/html;charset=utf-8,' + escape(this.html)
      }
    )
  }
}
customElements.define(HTMLSandbox.is, HTMLSandbox)
  </script>
</dom-module>


