<dom-module id="light-page">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        background-color: var(--light-background-color);
        color: var(--light-text-color);
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 60px;
      }
      p {
        color: var(--light-text-color);
      }
      h1, h2, h3 {
        color: var(--primary-color);
      }
      h2 {
        font-size: 28px;
        font-weight: normal;
        padding-bottom: 10px;
      }
      h1 {
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 25px;
        line-height: normal;
        font-size: 38px;
        text-align: center;
        font-weight: bold;
      }
      a {
        color: var(--primary-color);
      }
    </style>

    <slot></slot>
  </template>
</dom-module>
