<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<link rel="import" href="nw-job.html">

<dom-module id="notification-manager">
  <template>
    <style>
    </style>

    <h3>Send Notification</h3>

    <paper-input value="{{args.title}}" auto-validate required label="Title">
    </paper-input>

    <paper-input value="{{args.body}}" auto-validate required label="Body">
    </paper-input>

    <code class="invalid" hidden$="[[!error]]"><pre>[[error]]</pre></code>

    <code><pre>[[stringify(ret)]]</pre></code>
    <p hidden$="[[!finished]]">Finished!</p>

    <nw-job
      id="send"
      args="{{args}}"
      type="notification.send"
      finished="{{finished}}"
      working="{{working}}"
      return="{{ret}}"
      error="{{error}}">
    </nw-job>

    <paper-button class="register" on-tap="send" disabled$="[[working]]">
      Send
    </paper-button>
  </template>
  <script>
class NotificationManager extends Polymer.Element {
  static get is () { return 'notification-manager' }

  static get properties () {
    return {
      args: {
        value () {
          return {
            title: 'nwHacks 2018',
            icon: '/img/nwhacks-navbar-logo.png'
          }
        }
      }
    }
  }

  validate () {
    for (const e of this.root.querySelectorAll("paper-input")) {
      if (!e.validate()) {
        return false
      }
    }
    return true
  }

  send () {
    if (!this.validate()) {
      return
    }
    this.$.send.generateRequest()
  }

  stringify (obj) {
    return JSON.stringify(obj, '', '  ')
  }
}

customElements.define(NotificationManager.is, NotificationManager)
  </script>
</dom-module>
