<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="nw-score.html">

<dom-module id="nw-criteria">
  <template>
    <style include="shared-styles">
      :host {
        display: flex;
        flex-direction: column;
      }

      #question, #criteria {
        padding: 15px;
      }

      #question {
        background-color: var(--primary-color);
        color: var(--dark-text-color);
        font-weight: bold;
      }

      #question paper-button {
        color: var(--dark-text-color);
        border: 2px solid var(--dark-text-color);
        width: 36px;
        padding: 5px;
        text-align: center;
        border-radius: 2px;
      }

      #criteria {
        flex-grow: 10000;
        overflow: auto;
        padding-top: 0;
      }

      #summary {
        background-color: #eee;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
      }

      paper-button {
        min-width: 0;
      }

      .question {
        cursor: pointer;
        color: var(--secondary-text-color);
      }

      .question[filled] {
        color: var(--light-text-color);
      }

      .question[selected] {
        color: var(--primary-color);
        font-weight: bold;
      }

      h4 {
        margin-bottom: 10px;
      }

      nw-score {
        margin: 0 10px;
      }
    </style>

    <div id="question">
      <p>
      [[selected.name]]
      </p>

      <template is="dom-repeat" items="[[levels(selected.worth)]]">
        <paper-button on-tap="handleScore">[[item]]</paper-button>
      </template>
    </div>

    <div id="criteria">
      <template is="dom-repeat" items="[[questions]]" as="category">
        <h4>[[category.name]]</h4>

        <template is="dom-repeat" items="[[category.questions]]">
          <div
            class="question"
            on-tap="handleSelect"
            filled$="[[isSet(item.score)]]"
            selected$="[[isSelected(selected, item)]]">

            <nw-score
              score="[[criteriaScore(criteria, item.slug, criteria.*)]]"
              total="[[item.worth]]">
            </nw-score>
            [[item.name]]
          </div>
        </template>
      </template>
    </div>

    <div id="summary">
      <span>
        Total
        <nw-score
         score="[[criteria.score]]"
         total="[[criteria.total]]">
        </nw-score>
      </span>

      <paper-button on-tap="clearCriteria">Clear</paper-button>
    </div>
  </template>

  <script>
class NWCriteria extends Polymer.Element {
  static get is () { return 'nw-criteria' }

  static get properties () {
    return {
      questions: {
        value: [
          {
            name: 'General',
            questions: [
              { name: 'Owns a dog?', worth: 1 },
              { name: 'Owns a big house?', worth: 1 },
            ]
          },
          {
            name: 'Ambition',
            questions: [
              { name: 'Wants to become a pet owner', worth: 1 },
              { name: 'Is an extremely hard worker', worth: 1 },
            ]
          },
          {
            name: 'Community',
            questions: [
              { name: 'Is a part of the school\'s community', worth: 3 },
            ]
          }
        ]
      },

      _questions: {
        computed: 'flattenQuestions(questions)'
      },

      criteria: {
        notify: true,
        type: Object
      },

      sid: {
        type: String
      }
    }
  }

  static get observers () {
    return [
      'computeScore(_questions)',
      'computeScore(criteria)',
      'reset(_questions, sid)'
    ]
  }

  or (a, b) {
    return a || b
  }

  isSet (v) {
    return v !== undefined && v !== null
  }

  reset (questions) {
    this.setSelected(questions[0])
  }

  clearCriteria () {
    this.criteria = {}
  }

  flattenQuestions (questions) {
    const flat = []
    for (const cat of questions) {
      for (const q of cat.questions) {
        q.slug = this.slugify(q.name)
        q.index = flat.length
        flat.push(q)
      }
    }

    return flat
  }

  levels (max) {
    const l = []
    for (let i = 0; i <= max; i++) {
      l.push(i)
    }
    return l
  }

  handleSelect (e) {
    this.setSelected(e.model.item)
  }

  setSelected (selected) {
    this.selected = selected
  }

  handleScore (e) {
    const score = e.model.item
    if (!this.criteria) {
      this.criteria = {}
    }
    this.set(['criteria', this.selected.slug], score)

    const i = this.selected.index + 1
    const q = this._questions[i]
    if (q) {
      this.setSelected(q)
    }

    this.computeScore()
  }

  computeScore () {
    if (!this._questions) {
      return
    }

    const total = this._questions.map((q) => q.worth).reduce((a, b) => a + b, 0)

    let finished = true
    let started = false
    let score = 0

    for (const q of this._questions) {
      if (!this.criteria || !this.criteria.hasOwnProperty(q.slug)) {
        finished = false
        continue
      }

      started = true
      score += this.criteria[q.slug]
    }

    if (started) {
      setTimeout(() => {
        if (!this.criteria) {
          this.criteria = {}
        }
        this.set('criteria.total', total)
      }, 1)
    }

    if (!finished) {
      return
    }
    if (!this.criteria) {
      this.criteria = {}
    }
    this.set('criteria.score', score)
  }

  criteriaScore (criteria, slug) {
    if (!criteria) {
      return
    }

    return criteria[slug]
  }

  isSelected (selected, item) {
    return selected === item
  }

  slugify (str) {
    return str.replace(/[^a-zA-Z]+/g, ' ').trim().replace(/ /g, '-').toLowerCase()
  }
}

customElements.define(NWCriteria.is, NWCriteria)
  </script>
</dom-module>
