<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/polymerfire/firebase-messaging.html">
<link rel="import" href="../bower_components/polymerfire/firebase-document.html">

<dom-module id="nw-notifications">
  <template>
    <style>
      #container {
        padding: 0 15px;
        background-color: var(--primary-color);
        color: var(--dark-text-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }
      .spacer {
        flex-grow: 10000000000;
      }
      p {
        margin: 15px 0;
      }
    </style>

    <!-- <div id="container">
      <p>
        Want real time notifications during the event?
      </p>

      <span class="spacer"></span>

      <paper-button on-tap="enable">Enable Notifications</paper-button>
      <paper-icon-button icon="clear" on-tap="hide"></paper-icon-button>
    </div> -->

    <firebase-messaging
      id="messaging"
      token="{{token}}"
      active="{{active}}"
      status-known="{{statusKnown}}"
      on-message="handleMessage">
    </firebase-messaging>

    <firebase-document
      disabled="[[!token]]"
      path="/messaging/[[token]]"
      data="[[token]]">
    </firebase-document>

  </template>
  <script>
class NWNotifications extends Polymer.Element {
  static get is () { return 'nw-notifications' }

  static get properties () {
    return {
      hidden: {
        type: Boolean,
        reflectToAttribute: true,
        computed: '_hidden(userHidden, active, statusKnown)'
      }
    }
  }

  _hidden (userHidden, active, statusKnown) {
    return userHidden || active || !statusKnown
  }

  enable () {
    this.$.messaging.requestPermission().then(() => {
      this.enabled = true
    }, (err) => {
      this.dispatchEvent(new CustomEvent('error', {detail: err}))
    })
  }

  hide () {
    this.userHidden = true
  }

  handleMessage (e) {
    const payload = e.detail.message
    console.log('firebase message', payload)

    if (payload.notification) {
      new Notification(payload.notification.title, payload.notification)
    }
  }
}

customElements.define(NWNotifications.is, NWNotifications)
  </script>
</dom-module>
