<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="tinygradient-js.html">

<dom-module id="nw-score">
  <template>
    <style>
      :host {
        display: inline-block;
        color: var(--secondary-text-color);
        font-weight: normal;
      }

      span {
        min-width: 0.6em;
        display: inline-block;
        text-align: center;
      }
    </style>
    <span>[[_score]]</span>/<span>[[_total]]</span>
  </template>
  <script>
const gradient = tinygradient('red', 'orange', 'rgb(195, 195, 8)', '#27AE60').hsv(20, 'short')

class NWScore extends Polymer.Element {
  static get is () { return 'nw-score' }

  static get properties () {
    return {
      score: {
        type: Number
      },

      total: {
        type: Number
      },

      _total: {
        type: Number,
        value: '-',
        computed: 'computeScore(total)'
      },

      _score: {
        type: Number,
        value: '-',
        computed: 'computeScore(score)'
      }
    }
  }

  static get observers () {
    return [
      'updateColor(score, total)'
    ]
  }

  computeScore (score) {
    if (score === undefined || score === null) {
      return '-'
    }

    return score
  }

  updateColor (score, total) {
    if (score === undefined || score === null || total === undefined || total === null) {
      this.style.color = ''
      return
    }

    const i = Math.round(Math.min(score/total, 1) * (gradient.length - 1));
    let grad = gradient[i]
    if (!grad) {
      this.style.color = ''
      return
    }
    this.style.color = grad.toRgbString()
  }
}

customElements.define(NWScore.is, NWScore)
  </script>
</dom-module>
