<link rel="import" href="../bower_components/polymer/polymer-element.html">

<link rel="import" href="../bower_components/polymerfire/firebase-document.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-badge/paper-badge.html">

<link rel="import" href="nw-comments.html">
<link rel="import" href="nw-criteria.html">

<dom-module id="review-submission">
  <template>
    <style include="shared-styles">
:host {
  display: flex;
}

  #tabs {
    display: flex;
    flex-direction: column;
    flex-grow: 10000;
  }

  paper-tabs {
    flex-shrink: 0;
  }

  #content {
    flex-grow: 10000;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }

  nw-comments {
    flex-grow: 10000;
    padding: 16px 16px 0;
  }

  #info {
    padding: 16px;
  }

  iframe {
    flex-grow: 10000;
    border: none;
  }

  #actions {
    padding: 16px;
    border-top: 1px
  }

  #criteria {
    flex-shrink: 0;
  }

  .right {
    float: right;
  }
    </style>

    <nw-criteria id="criteria"></nw-criteria>

    <div id="tabs">
      <paper-tabs selected="{{selected}}" attr-for-selected="text-content" scrollable>
        <paper-tab>Info</paper-tab>

        <template is="dom-if" if="[[hacker.resume]]">
          <paper-tab>Resume</paper-tab>
        </template>

        <paper-tab>
          <span id="comments">
            Comments
            &nbsp;&nbsp;
          </span>

          <template
                is="dom-if"
                if="[[numComments(hacker.comments, hacker.comments.*)]]">
            <paper-badge
                for="comments"
                label="[[numComments(hacker.comments, hacker.comments.*)]]">
            </paper-badge>
          </template>
        </paper-tab>
      </paper-tabs>

      <div id="content">
        <template is="dom-if" if="[[eq(selected, 'Info')]]">
          <div id="info">
            <template is="dom-repeat" items="[[questions]]">
              <template is="dom-if" if="[[has(hacker, item.name)]]">
                <paper-input-container always-float-label>
                  <label slot="label">[[item.label]]</label>
                  <span slot="input">
                    <template is="dom-if" if="[[linkField(hacker, item.name)]]">
                      <a target="_blank" href="[[linkField(hacker, item.name)]]">
                        [[get(hacker, item.name)]]
                      </a>
                    </template>

                    <template is="dom-if" if="[[!linkField(hacker, item.name)]]">
                      [[get(hacker, item.name)]]
                    </template>
                  </span>
                </paper-input-container>
              </template>
            </template>
          </div>
        </template>

        <template is="dom-if" if="[[eq(selected, 'Resume')]]">
          <iframe src="[[resumeLink(hacker.resume)]]"></iframe>
        </template>

        <template is="dom-if" if="[[eq(selected, 'Comments')]]">
          <nw-comments
            comments="{{hacker.comments}}"
            name="[[name]]"
            email="[[email]]">
          </nw-comments>
        </template>
      </div>

      <div id="actions">
        <template is="dom-if" if="[[!hacker.acceptance_sent]]">
          <select on-change="onSelect">
            <template is="dom-repeat" items="[[categories]]">
              <option selected$="[[eq(item, hacker.status)]]">[[item]]</option>
            </template>
          </select>
        </template>

        <paper-checkbox checked="{{hacker.checked_in}}" on-change="checkIn">Checked In</paper-checkbox>

        <template is="dom-if" if="[[acceptanceSent(hacker)]]">
          <span>
            <a on-tap="resetRSVPTime">Reset RSVP Time</a>
            (<a target="_blank" href="[[rsvpLink(hacker)]]">Link</a>,
            [[timeTo(hacker.acceptance_sent.Time)]])
          </span>
        </template>

        <span class="right">
          <span>[[hacker.status]]</span>,
          ID: <a target="_blank" href="[[firebaseLink(form, sid)]]">[[sid]]</a>,
        </span>
      </div>
    </div>

    <firebase-document
           path="[[submissionPath(form, sid)]]"
           hidden
           data="{{hacker}}">
    </firebase-document>
  </template>
  <script>

class ReviewSubmission extends Polymer.Element {
  static get is () { return 'review-submission' }

  static get properties () {
    return {
      form: {
        type: String
      },

      sid: {
        type: String
      },

      selected: {
        type: String
      }
    }
  }

  static get observers () {
    return [
      'reset(sid)'
    ]
  }

  reset () {
    this.selected = 'Info'
    this.$.content.scroll(0,0);
  }

  eq (a, b) {
    return (a || '').trim() === (b || '').trim()
  }

  has (hacker, name) {
    return hacker.hasOwnProperty(name)
  }

  get (hacker, name) {
    return hacker[name]
  }

  submissionPath (form, sid) {
    if (!form || !sid) {
      return
    }

    return '/form/' + form + '/' + sid
  }

  linkField (hacker, field) {
    if (field === 'github') {
      return this.githubLink(hacker.github)
    } else if (field === 'resume') {
      return this.resumeLink(hacker.resume)
    } else if (field === 'linkedin') {
      return this.linkedinLink(hacker.linkedin)
    } else if (field === 'personalsite') {
      return hacker.personalsite
    }
  }

  firebaseLink (form, id) {
    if (!id || !form) {
      return
    }
    return 'https://console.firebase.google.com/project/nwhacks-2018/database/data/form/' + form + '/' + id
  }

  resumeLink (resume) {
    return 'https://firebasestorage.googleapis.com/v0/b/nwhacks-2018.appspot.com/o/' + encodeURIComponent(resume) + '?alt=media'
  }

  githubLink (username) {
    if (!username) {
      return
    }
    if (username.indexOf('github.com') > 0) {
      return username
    }
    return 'https://github.com/' + username
  }

  linkedinLink (username) {
    if (!username) {
      return
    }
    if (username.indexOf('linkedin.com') > 0) {
      return username
    }
    return 'https://linkedin.com/in/' + username
  }

  acceptanceSent (hacker) {
    return hacker.acceptance_sent && hacker.status === 'accepted'
  }

  numComments (comments) {
    return Object.keys(comments || {}).length
  }
}

customElements.define(ReviewSubmission.is, ReviewSubmission)
  </script>
</dom-module>

