<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="../light-page.html">
<link rel="import" href="../generic-form.html">
<link rel="import" href="../city-input.html">
<link rel="import" href="../github-input.html">
<link rel="import" href="../school-input.html">
<link rel="import" href="../bool-input.html">
<link rel="import" href="../major-input.html">

<dom-module id="volunteer-form">
  <template>
    <style include="light-page">
      :host {
        display: block;
      }
      paper-checkbox, input[type="file"] {
        display: block;
        padding: 8px 0px;
      }
    </style>

    <h1 title>Volunteer Registration</h1>

    <generic-form name="volunteer" data="{{data}}" closed is-admin="[[isAdmin]]">
      <div slot="intro">
        <p>
        nwHacks is Western Canada’s largest collegiate hackathon taking place on January 13th - 14th 2018 at the University of British Columbia.
        </p>
        <p>
        Join our team for 24 hours to get a snippet of what it’s like to
        organize a hackathon! Responsibilities include but not limited to
        registration, set-up/take-down, and more. Befriend some passionate
        hackers while distributing (and eating) midnight snacks. Volunteer hours
        are flexible and food &amp; drinks will be provided.
        </p>
        <p>
        If you have any questions or concerns, please email
        <a href="mailto:zoe.fox@startupstorm.org">Zoe Fox</a>.
        </p>
      </div>

      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Invalid Phone Number"
        label="What is your phone number?"
        placeholder="xxx-xxx-xxxx"
        type="tel"
        name="phone"
        value="{{data.phone}}">
      </paper-input>

      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Required"
        label="What is your birthday?"
        type="date"
        name="birthday"
        value="{{data.birthday}}">
      </paper-input>

      <school-input
        label="What school do you currently attend?"
        name="school"
        value="{{data.school}}">
      </school-input>

      <major-input
        label="What is your major?"
        name="major"
        value="{{data.major}}">
      </major-input>

      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Required, must be at least 2018"
        label="What is your graduation year?"
        type="number"
        min="2018"
        name="graduation"
        value="{{data.graduation}}">
      </paper-input>

      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Required"
        label="What is the name of your emergency contact?"
        placeholder="Enter the name of your emergency contact"
        name="emergency_name"
        value="{{data.emergency_name}}">
      </paper-input>

      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Invalid Phone Number"
        label="What is the phone number of your emergency contact?"
        placeholder="xxx-xxx-xxxx"
        type="tel"
        name="emergency_ohone"
        value="{{data.emergency_phone}}">
      </paper-input>

      <bool-input
        name="first_hackathon"
        value="{{data.first_hackathon}}">
        Have you ever volunteered at a hackathon?
      </bool-input>

      <paper-textarea
        required
        auto-validate
        error-message="Required"
        label="Why do you want to volunteer at nwHacks?"
        rows=4
        name="reason"
        value="{{data.reason}}">
      </paper-textarea>

      <p>When are you available? Please check all that apply:</p>

      <paper-checkbox
        name="sat_afternoon"
        checked="{{data.sat_afternoon}}">
        Saturday Afternoon ~(1pm - 6pm)
      </paper-checkbox>

      <paper-checkbox
        name="sat_evening"
        checked="{{data.sat_evening}}">
        Saturday Evening ~(6pm - 11pm)
      </paper-checkbox>

      <paper-checkbox
        name="overnight"
        checked="{{data.overnight}}">
        Overnight ~(11pm - 3am)
      </paper-checkbox>

      <paper-checkbox
        name="sun_morning"
        checked="{{data.sun_morning}}">
        Sunday Morning ~(7am - 12pm)
      </paper-checkbox>

      <paper-checkbox
        name="sun_evening"
        checked="{{data.sun_evening}}">
        Sunday Evening ~(12pm - 5pm)
      </paper-checkbox>

      <p>Are you available for any of the following orientation sessions? (Please check all you can attend)</p>

      <paper-checkbox
        name="jan_fourth"
        checked="{{data.jan_fourth}}">
        Wednesday, 3rd January 2018 4:00pm-5:00pm
      </paper-checkbox>

      <paper-checkbox
        name="jan_fifth"
        checked="{{data.jan_fifth}}">
        Thursday, 4th January 2018 4:00pm-5:00pm
      </paper-checkbox>

      <paper-checkbox
        name="none"
        checked="{{data.none}}">
         None of the Above
      </paper-checkbox>

      <paper-dropdown-menu
        required
        auto-validate
        error-message="Required"
        label="What is your t-shirt size? (unisex)"
        horizontal-align="left"
        name="tshirt"
        selected-item-label="{{data.tshirt}}">
        <paper-listbox slot="dropdown-content">
          <paper-item>S</paper-item>
          <paper-item>M</paper-item>
          <paper-item>L</paper-item>
          <paper-item>XL</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-dropdown-menu
        required
        auto-validate
        error-message="Required"
        label="Do you have any dietary restrictions or allergies?"
        horizontal-align="left"
        name="dietary"
        selected-item-label="{{data.dietary}}">
        <paper-listbox slot="dropdown-content">
          <paper-item>No</paper-item>
          <paper-item>Vegetarian</paper-item>
          <paper-item>Vegan</paper-item>
          <paper-item>Gluten Free</paper-item>
          <paper-item>Other</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-input
        required="[[eq(data.dietary, 'Other')]]"
        hidden$="[[!eq(data.dietary, 'Other')]]"
        auto-validate
        maxlength="200"
        error-message="Required"
        label="Please specify your dietary restrictions or allergies"
        placeholder="Enter restrictions here"
        name="dietary_other"
        value="{{data.dietary_other}}">
      </paper-input>

      <bool-input
        name="newsletter"
        value="{{data.newsletter}}">
        Would you like to sign up for StartupStorm’s newsletter to be informed of other tech events and hackathons happening in and around Vancouver?
      </bool-input>

      <paper-dropdown-menu
        required
        auto-validate
        error-message="Required"
        label="How did you hear about nwHacks?"
        horizontal-align="left"
        name="hear"
        selected-item-label="{{data.hear}}">
        <paper-listbox slot="dropdown-content">
          <paper-item>MLH</paper-item>
          <paper-item>Social Media</paper-item>
          <paper-item>Website</paper-item>
          <paper-item>Word of Mouth</paper-item>
          <paper-item>Club Newsletter</paper-item>
          <paper-item>Faculty Newsletter</paper-item>
          <paper-item>Professor/In Class</paper-item>
          <paper-item>Other</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-input
        required="[[eq(data.hear, 'Other')]]"
        hidden$="[[!eq(data.hear, 'Other')]]"
        auto-validate
        maxlength="200"
        error-message="Required"
        label="Please specify where you heard about nwHacks"
        placeholder="Enter response here"
        name="hear_other"
        value="{{data.hear_other}}">
      </paper-input>

      <paper-checkbox
        required
        auto-validate
        error-message="Required">
        I agree to the terms of both the
        <a href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions" target="_blank">
          MLH Contest Terms and Conditions
        </a>
        and the
        <a href="https://mlh.io/privacy" target="_blank">MLH Privacy Policy</a>.
        Please note that you may receive pre and post-event informational
        e-mails and occasional messages about hackathons from MLH as per the MLH
        Privacy Policy.
      </paper-checkbox>

      <paper-checkbox
        required
        auto-validate
        error-message="Required">
        I agree to abide by the
        <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">
          MLH Code of Conduct
        </a> at all times during the
        event.
      </paper-checkbox>
    </generic-form>

  </template>

  <script>
class VolunteerForm extends Polymer.Element {
  static get is () { return 'volunteer-form' }

  eq (a, b) {
    return a === b
  }
}

customElements.define(VolunteerForm.is, VolunteerForm)
  </script>
</dom-module>
