@font-face {
    font-family: "Apercu";
    src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu.ttf) format("opentype");
}
@font-face {
    font-family: "Apercu";
    src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu-Light.otf) format("opentype");
    font-weight: 500;
}
@font-face {
    font-family: "Apercu";
    src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu-Bold.otf) format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "Apercu";
    src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu-BoldItalic.otf) format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Apercu";
    src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu-Light.otf) format("opentype");
    font-weight: 200;
}
@font-face {
    font-family: "Apercu";
    src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu%20Light%20Italic.ttf) format("opentype");
    font-weight: lighter;
    font-style: italic;
}
