@font-face {
    font-family: "LFT Etica";
    src: url(https://cdn.rawgit.com/nwhacks/nwhacks2017_static/master/font/LFT_Etica_Book.otf) format("opentype");
}
@font-face {
    font-family: "LFT Etica";
    src: url(https://cdn.rawgit.com/nwhacks/nwhacks2017_static/master/font/LFT_Etica_Semibold.otf) format("opentype");
    font-weight: 500;
}
@font-face {
    font-family: "LFT Etica";
    src: url(https://cdn.rawgit.com/nwhacks/nwhacks2017_static/master/font/LFT_Etica_Bold.otf) format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: "LFT Etica";
    src: url(https://cdn.rawgit.com/nwhacks/nwhacks2017_static/master/font/LFT_Etica_BoldItalic.otf) format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "LFT Etica";
    src: url(https://cdn.rawgit.com/nwhacks/nwhacks2017_static/master/font/LFT_Etica_Light.otf) format("opentype");
    font-weight: 200;
}
@font-face {
    font-family: "LFT Etica";
    src: url(https://cdn.rawgit.com/nwhacks/nwhacks2017_static/master/font/LFT_Etica_LightItalic.otf) format("opentype");
    font-weight: lighter;
    font-style: italic;
}
