$light-fg: #444;
$light-bg: white;
$dark-bg: rgba(35,31,32,0.6);
$black-fg: #000000;
$dark-fg: #FFFFFF;
$dark-fg-alt: #FFF2B5;
$light-bg: #FFFFFF;
$body-bg-light: rgba(17,23,84,1);
$body-bg-med: rgba(21,24,40,1);
$body-bg-dark: rgba(23,27,63,1);
$faq-bg-dark: #151828;
$faq-bg-light: #1C215D;
$menu-padding: 15px;
$menu-padding-vertical: 10px;
$tagline-font-size: 22pt;
$infoline-font-size: 17pt;
$link-dark: #4BAE74;
$link: #FFFFFF;
$link-hover: #239e57;

$btn-shadow-size: 7px;
$register-btn-fg: $dark-fg;
$register-btn-bg: #2B9F61;
$register-btn-bg-shadow: #217E49;
$login-btn-fg: #3C4558;
$login-btn-bg: $light-bg;
$login-btn-bg-shadow: #BCBEC0;

$footer-bg: #1C205D;

$form-error: $register-btn-bg-shadow;
$form-focused: $link;

paper-dialog {
  color: $light-fg !important;
}

paper-radio-button[invalid] {
  #offRadio {
    border-color: $form-error !important;
  }
  #onRadio {
    background-color: $form-error !important;
  }
}

register-form #form, rsvp-page #form, checkin-page {
  label {
    color: $dark-fg;
  }
  .unfocused-line {
    //background: $dark-fg;
  }
  .is-invalid  .focused-line {
    background: $form-error;
  }
  paper-input-error, .invalid {
    color: $form-error;
  }
  .focused-line {
    background: $form-focused;
    border-color: $form-focused;
  }
  paper-checkbox {
    #checkboxLabel.paper-checkbox  {
      pointer-events: auto;
    }
    #checkbox.checked.paper-checkbox {
      background-color: $link;
      border-color: $link;
    }
  }
  paper-dropdown-menu paper-item {
    color: $light-fg;
  }
}

paper-toolbar.tall {
  background: rgba(64,64,64,0.9);
}

paper-card .card-content {
  padding-top: 0;
}

#org-link {
  a:hover {
    color: #00b0ff;
  }
}

.title a {
  color: inherit;
  text-decoration: inherit;
}


schedule-box {
  font-size: 14pt;
  .day .row > div:first-child {
    color: $dark-fg-alt;
  }
  .day .row > div:nth-child(2) {
    color: $dark-fg;
  }
}



@media (max-width: 650px) {
  .small-first {display: table-header-group; }
  .small-middle {display: table-row-group;    }
  .small-last {display: table-footer-group; }
}





.wrapper {
  padding: 0 0px;
  //padding: 0 15px;
  overflow: hidden;
}

body paper-card {
  margin: 50px auto;
  display: block;
  max-width: 600px;
}

#warning {
  color: red;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}


star {
  position: absolute;
  background-image: url(/svg/Stars-Single.svg);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  z-index: -100;
}

.sponsor-padding {
  padding-right: 118px;
}
.sponsor-content {
  font-weight: 200;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  .column {
    width: calc(60% - 15px);
    display: inline-block;
    z-index: 10;
  }
  .column + .column {
    float: right;
  }
}
@media (max-width: 768px) {
  .sponsor-padding {
    padding-right: 0px;
  }
  .sponsor-content .column {
    width: 100%;
    display: block;
  }
}


#sponsors {
  background: rgb(17,23,84); /* Old browsers */
  background: -moz-linear-gradient(top, #1b2056 0%, $footer-bg  40%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1b2056 0%, $footer-bg  40%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1b2056 0%, $footer-bg  40%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1C215D', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  max-width: inherit;
  text-align: center;

  h1 {
    font-size: 40px;
    color: #27AE60;
    padding-top: 70px;
    margin-top: 0;
    padding-bottom: 0px;
    font-weight: bold;
  }


  & > div {
    margin: 50px 0;
  }

  a.duo, a[duo] {
    position: relative;
    display: inline-block;
    img, svg {
      transition: opacity 0.5s;
      &.solid {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        -webkit-filter: none;
        -moz-filter: none;
        -o-filter: none;
        filter: none;
      }
      &.transparent {
        pointer-events: none;
        opacity: 1;
      }
    }
    &:hover {
      img, svg {
        &.solid {
          opacity: 1;
        }
        &.transparent {
          opacity: 0;
        }
      }
    }
  }

  img, svg {
    vertical-align: middle;
    margin: 30px;
    max-width: calc(100% - 60px);
    $brightness: brightness(0.44);
    $filter: brightness(0) invert(1) $brightness;
    $filter-black: brightness(0);
    $filter-white: brightness(0) invert(1);
    $filter-grayscale: grayscale(1);

    -webkit-filter: $filter-white;
    -moz-filter: $filter-white;
    -o-filter: $filter-white;
    filter: $filter-white;

    transition : -webkit-filter 0.5s, -moz-filter 0.5s, -o-filter 0.5s, filter 0.5s;

    &.black:hover {
      -webkit-filter: $filter-black;
      -moz-filter: $filter-black;
      -o-filter: $filter-black;
      filter: $filter-black;
    }
    &.white:hover {
      -webkit-filter: $filter-white;
      -moz-filter: $filter-white;
      -o-filter: $filter-white;
      filter: $filter-white;
    }
    &.grayscale {
      -webkit-filter: $filter-grayscale;
      -moz-filter: $filter-grayscale;
      -o-filter: $filter-grayscale;
      filter: $filter-grayscale;
    }
    &:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -o-filter: none;
      filter: none;
    }
  }
}

lazy-pages {
  overflow: visible !important;
}
lazy-pages, lazy-pages > * {
  position: inherit !important;
}

#gallery-container {
  padding-top: 50px;
  width: 100%;
  height: 480px;
  padding-bottom: 3px;
  margin: 0 auto;
  white-space:nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  background-color: $footer-bg;

  #gallery {
    width: auto;
    //overflow-y: hidden;
    img {
      height: 460px;
      padding-right: 50px;
    }
    #img-last {
      padding-right: 0;
    }
  }
}

#gallery-container::-webkit-scrollbar {
  width: 1em;
}
/* Handle */
#gallery-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #727EFF;
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
#gallery-container::-webkit-scrollbar-thumb:window-inactive {
  background: #727EFF;
}

@media (max-width: 430px){
  #gallery-container {
    height: 330px;
    padding-bottom: 0px;
    #gallery {
      img {
        height: 300px;
        padding-right: 30px;
      }
    }
  }
}
