<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="../firebase-config/firebase-config.html">
<link rel="import" href="../lunr-js.html">
<link rel="import" href="../light-page.html">
<link rel="import" href="../nw-tags.html">
<link rel="import" href="../nw-check.html">

<dom-module id="checkin-page">
  <template>
    <style include="light-page">
      paper-card {
        width: 100%;
        color: black;
      }
      paper-checkbox {
        width: 100%;
        margin-top: 16px;
        box-sizing: border-box;

        text-decoration: none;
        letter-spacing: 2px;
        border-radius: 3px;
        border: none;
        font-weight: bold;
        letter-spacing: 3px;
        padding: 11px 15px;
        text-transform: uppercase;
        cursor: pointer;

        border-bottom: 4px solid #D74343;
        background-color: #FF6B6B;

        --primary-text-color: var(--dark-text-color);

        --paper-checkbox-label: {
          width: 100%;
          text-align: center;
          position: absolute;
          left: 0;
          padding-left: 0;
        };

        transition: background-color 140ms, border-color 140ms;
      }
      paper-checkbox[checked] {
        border-color: #4BAE74;
        background-color: #90cfaa;
      }
      [bad] {
        color: red;
      }
      [good] {
        color: green;
      }
      [warn] {
        color: orange;
      }
      #completions {
        margin-bottom: 20px;
      }
      .completion {
        padding: 10px;
        cursor: pointer;
      }
      .completion:hover {
        background-color: rgba(0,0,0,0.1);
      }
      .completion[selected] {
        background-color: rgba(0,0,0,0.2);
      }
      [hidden] {
        display: none;
      }
      code {
        font-family: monospace;
        background-color: rgba(0,0,0,0.9);
        padding: 6px;
        color: var(--dark-text-color);
      }
      h3 {
        margin-top: 80px;
      }
      paper-card p {
        font-size: 24pt;
        text-align: center;
        text-transform: capitalize;
        padding: 10px;
        font-weight: lighter;
        border-radius: 3px;
      }
      paper-card p[warn] {
        background-color: #f28500;
        color: white;
      }
      paper-card p[danger] {
        background-color: #D74343;
        color: white;
      }
      p:empty {
        display: none;
      }
      p:first-child {
        margin-top: 0;
      }
      nw-tags {
        display: inline-block;
        margin: 16px;
      }
    </style>

    <h1 title>
      Check-In
    </h1>

    <div class="content">

      <center>
        <p>
        <small>
          <b>Shortcuts:</b>
          Search <code>/</code>, Check-In <code>space</code>
        </small>
        </p>
      </center>

      <paper-input
        label="Search" value="{{query}}"
        id="search"
        disabled="[[!lunr]]">

        <iron-icon icon="icons:search" prefix></iron-icon>
      </paper-input>

      <paper-card heading="[[heading(display)]]" hidden$="[[!display]]">
        <div class="card-content">

          <nw-check checked="[[display.rsvp.going]]">RSVPed Going</nw-check>

          <nw-check checked="[[waiver.title]]">
            Signed Waiver
            <template is="dom-if" if="[[waiver.title]]">
              &mdash; [[waiver.title]]
            </template>
          </nw-check>

          <center>
            <nw-tags tags="[[display.tags]]" disabled></nw-tags>
          </center>

          <paper-checkbox id="checkbox" checked="{{display.checked_in}}">
            Checked In
          </paper-checkbox>

          <nw-check checked="[[display.nfc_written]]">NFC Tag Written</nw-check>
        </div>
      </paper-card>

      <div id="completions">
        <template is="dom-repeat" items="[[autocomplete]]">
          <div class="completion"
               selected$="[[eq(index, autocompleteIndex)]]"
               on-tap="handleTap">
            [[name(registrations, item)]] &lt;[[email(registrations, item)]]&gt;
          </div>
        </template>
      </div>

      <paper-dropdown-menu label="NFC Device" selected-item="{{deviceItem}}">
        <paper-listbox slot="dropdown-content">
          <paper-item></paper-item>
          <template is="dom-repeat" items="{{devices}}">
            <paper-item deviceid="[[item.id]]">[[item.name]] - [[item.model]]</paper-item>
          </template>
        </paper-listbox>
      </paper-dropdown-menu>

    </div>


    <firebase-document disabled="[[!isAdmin]]"
                    path="/admin/hellosign/[[formatEmail(display.email)]]"
                    data="{{waiver}}">
    </firebase-document>

    <firebase-query id="regs"
                    disabled="[[!isAdmin]]"
                    path="/form/registration"
                    data="{{registrations}}">
    </firebase-query>

    <firebase-query
      disabled="[[!isAdmin]]"
      path="/admin/devices"
      data="{{devices}}">
    </firebase-query>

    <firebase-document
      disabled="[[!isAdmin]]"
      path="/admin/devices/[[deviceid]]"
      data="{{device}}">
    </firebase-document>
  </template>

  <script src="checkin-page.js"></script>
</dom-module>
