<dom-module id="register-form">
  <template>
    <style>
      :root {
        --primary-text-color: white;
      }
      :host {
        display: block;
      }
      img[item-icon] {
        height: 40px;
        width: 40px;
        border-radius: 100px;
      }
      paper-icon-item {
        pointer-events: none;
      }
      paper-checkbox, input[type="file"] {
        display: block;
        padding: 8px 0px;
      }
      form {
        max-width: 640px;
        margin: 0 auto;
      }
      div[prefix] {
        opacity: 0.6;
      }
      .register {
        margin-top: 50px;
      }
    </style>
    <iron-ajax
            auto
            url="{{githubURL}}"
            handle-as="json"
            last-response="{{githubDetails}}"
            debounce-duration="300"></iron-ajax>
    <iron-ajax
            auto
            url="{{citiesURL}}"
            handle-as="json"
            last-response="{{cities}}"
            debounce-duration="300"></iron-ajax>

    <h1 id="register">nwHacks Registration</h1>
    <form is="iron-form" id="form" method="post" content-type="multipart/form-data" on-iron-form-response="register" action="/api/register/" on-iron-form-presubmit="formPreSubmit" on-iron-form-submit="submitting">
      <paper-input required auto-validate maxlength="200" error-message="Required" label="What is your name?" name="name" value="{{data.name}}"></paper-input>
      <paper-input required auto-validate maxlength="200" error-message="Invalid Email" type="email" label="What is your email?" name="email" value="{{data.email}}"></paper-input>
      <paper-input required auto-validate maxlength="200" error-message="Required" label="Where do you go to school?" name="school" value="{{data.school}}"></paper-input>
      <paper-input required auto-validate maxlength="200" error-message="Required" label="Where are you traveling from?" name="city" value="{{data.city}}" focused="{{cityFocused}}"></paper-input>
      <template is="dom-repeat" items="[[citiesClean]]">
        <paper-item on-tap="selectCity">[[item.matching_full_name]]</paper-item>
      </template>
      <paper-input maxlength="200" label="GitHub" name="github" value="{{data.github}}">
        <div prefix>https://github.com/</div>
      </paper-input>
      <template is="dom-if" if="[[githubDetails]]">
        <paper-icon-item>
          <img src="{{githubDetails.avatar_url}}" item-icon>
          <span>{{githubDetails.name}}</span>
        </paper-icon-item>
      </template>

      <paper-input maxlength="200" label="LinkedIn" name="linkedin" value="{{data.linkedin}}">
        <div prefix>https://linkedin.com/in/</div>
      </paper-input>
      <paper-input maxlength="200" label="Personal Site" name="personalsite" auto-validate error-message="Invalid URL" value="{{data.personalsite}}" type="url"></paper-input>

      <paper-input always-float-label type="file" label="Resume" name="resume" value="{{data.resume}}"></paper-input>

      <paper-dropdown-menu required auto-validate error-message="Required" label="T-Shirt Size" name="tshirt" selected-item-label="{{data.tshirt}}">
        <paper-menu class="dropdown-content">
          <paper-item>S</paper-item>
          <paper-item>M</paper-item>
          <paper-item>L</paper-item>
          <paper-item>XL</paper-item>
        </paper-menu>
      </paper-dropdown-menu>
      <paper-checkbox name="travel_reimbursement" >Do you need travel reimbursements?</paper-checkbox>
      <paper-checkbox name="first_hackathon">Is this your first hackathon?</paper-checkbox>
      <paper-checkbox name="mentor">Would you like to be a mentor?</paper-checkbox>
      <paper-textarea required auto-validate error-message="Required" label="Why do you want to come to nwHacks?" name="reason" value="{{data.reason}}"></paper-textarea>

      <center>
      <paper-button elevation="1" on-tap="submit" class="register">Register</paper-button>
      </center>
    </form>

    <paper-dialog id="registered" modal>
      <h2>Registered</h2>
      <p>All set! We'll get back to you in a few weeks with a decision.</p>
      <div class="buttons">
        <a href="#!/"><paper-button dialog-confirm autofocus>Return Home</paper-button></a>
      </div>
    </paper-dialog>
    <paper-dialog id="submitting" modal>
      <h2>Submitting...</h2>
      <p>
        <paper-progress indeterminate></paper-progress>
      </p>
    </paper-dialog>

  </template>

  <script>
// element registration
Polymer({
  is: "register-form",

  properties: {
    githubURL: {
      computed: 'updateGithubURL(data.github)'
    },
    citiesURL: {
      computed: 'updateCitiesURL(data.city, cityFocused)'
    },
    citiesClean: {
      computed: 'cleanCities(cities)'
    },
    data: {
      type: Object,
      notify: true,
      value: function() { return {}; }
    },
  },
  updateGithubURL: function(github) {
    if (!github) {
      return "";
    }
    return "https://api.github.com/users/"+github;
  },
  updateCitiesURL: function(city, focused) {
    if (!city || !focused) {
      return "";
    }
    return "https://api.teleport.org/api/cities/?limit=5&search="+city;
  },
  cleanCities: function(cities) {
    return cities && cities._embedded['city:search-results'];
  },
  submitting: function(e) {
    console.log(e);
    this.$.submitting.open();
  },
  register: function(e) {
    console.log(e);
    this.$.submitting.close();
    this.$.registered.open();
  },
  selectCity: function(e) {
    this.set('data.city', e.model.item.matching_full_name);
  },
  submit: function() {
    this.$.form.submit();
  },
  convertFileInputToFormData: function(){
    regexp = /^[^[\]]+/;
    var fileInput = $('input[type="file"]');
    var fileInputName = regexp.exec( fileInput.attr('name') );
    // make files available
    var data = new FormData();
    jQuery.each($(fileInput)[0].files, function(i, file) {
      data.append(fileInputName+'['+i+']', file);
    });
    $('#form input:not([type="file"]), paper-textarea, paper-dropdown-menu').each(function(i, input) {
      var $input = $(input);
      data.append($input.attr('name'), $input.val());
    });
    $('paper-checkbox').each(function(i, input) {
      var $input = $(input);
      data.append($input.attr('name'), $input[0].checked);
    });
    return data;
  },
  formPreSubmit: function(event){
    var form = document.getElementById('form');
    // here you convert to formData calling our function
    var data = this.convertFileInputToFormData();

    form.request.method = "post";
    // set undefined to prevent default json content type
    form.request.contentType = undefined;
    // here you append your formData to the iron-ajax body
    form.request.body = data;
    form.request.url = "/api/register/"

    form.request.debounceDuration = 300;
  },
});
  </script>
</dom-module>
