<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../light-page.html">
<link rel="import" href="../admin-list.html">
<link rel="import" href="../tag-manager.html">
<link rel="import" href="../notification-manager.html">

<dom-module id="admin-settings">
  <template>
    <style include="light-page">
      h1 {
        padding-top: 1em;
      }
    </style>

    <h1 title>Admin Settings</h1>

    <div class="content">
      <h2>Permissions</h2>
      <admin-list is-admin="[[isAdmin]]"></admin-list>

      <h2>Tags</h2>
      <tag-manager is-admin="[[isAdmin]]"></tag-manager>

      <h2>Notifications</h2>
      <notification-manager is-admin="[[isAdmin]]"></notification-manager>
    </div>
  </template>
  <script>
class AdminSettings extends Polymer.Element {
  static get is () { return 'admin-settings' }
}

customElements.define(AdminSettings.is, AdminSettings)
  </script>
</dom-module>
