<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../area-img.html">

<link rel="import" href="../nwhacks-header/nwhacks-header.html">
<link rel="import" href="../nw-countdown.html">
<link rel="import" href="../schedule-box/schedule-box.html">

<dom-module id="index-page">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        overflow: hidden;
      }

      #intro {
        color: black;
      }

      #intro h1 {
        padding-top: 0;
        max-width: 600px;
        width: 80%;
        text-align: left;
        margin: 1em auto 0;
      }

      #intro p {
        max-width: 600px;
        margin: 1em auto;
        text-align: left;
        width: 80%;
        line-height: 27px;
        font-size: 15px;
        /*height: 200px;*/
        color: #4F4F4F;
      }

      #intro .large-trapezoid {
        margin-top: 30px;
      }

      @media (min-width: 1440px) {
        #intro p {
          font-size: 15pt;
        }
      }

      #faq {
        width: 100%;
        background: rgb(17, 23, 84);
        /* Old browsers */
        background: -moz-linear-gradient(top, #151828 0%, #1C215D 116.41%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #151828 0%, #1C215D 116.41%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #151828 0%, #1C215D 116.41%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1C215D', GradientType=0);
        /* IE6-9 */
      }

      #faq .h1-container h1 {
        padding-top: 151px;
        padding-bottom: 30px;
      }

      #faq p {
        line-height: 27px;
        font-size: 15px;
        letter-spacing: 0px;
        font-weight: 500;
      }

      #faq .content {
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        z-index: 10;
      }

      #faq .content #crystal {
        text-align: center;
        position: relative;
        left: 0px;
        right: 0px;
        text-align: center;
      }

      #faq .content #crystal #top-right {
        position: absolute;
        height: 333.25px;
        left: 94%;
        top: 0;
      }

      #faq .content #crystal #bottom-left {
        position: absolute;
        width: 487px;
        height: 586.16px;
        left: -34%;
        padding-top: 120%;
        z-index: -1;
      }

      #faq .content #crystal #bottom-right {
        position: absolute;
        width: 373.22px;
        height: 490.57px;
        z-index: -1;
        padding-top: 104.5%;
        left: 90%;
      }

      @media (max-width: 1024px) {
        #faq .content h2 {
          text-align: left;
          font-size: 23px;
        }
        #faq .content #crystal {
          display: none;
        }
      }

      #spacer {
        padding-bottom: 150px;
      }

      @media (max-width: 1024px) {
        #spacer {
          padding-bottom: 0px;
        }
      }

      @media (max-width: 425px) {
        #spacer {
          padding-bottom: 80px;
        }
      }

      h1 {
        padding-top: 70px;
        margin-top: 0;
        padding-bottom: 0px;
      }

      #schedule {
        width: 100%;
        background: rgb(17, 23, 84);
        /* Old browsers */
        background: -moz-linear-gradient(top, #1b2056 116.41%, rgba(23, 27, 61, 1) 0%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1b2056 116.41%, rgba(23, 27, 61, 1) 0%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1b2056 116.41%, rgba(23, 27, 61, 1) 0%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1C215D', endColorstr='#000000', GradientType=0);
        /* IE6-9 */
        margin: 0 auto;
        width: 100%;
        text-align: center;
      }

      #schedule h1 {
        margin: 0 auto;
        padding-bottom: 70px;
        line-height: normal;
        font-size: 38px;
        text-align: center;
        color: #27AE60;
        font-weight: bold;
      }

      #schedule .content {
        margin: 0 auto;
        display: inline-block;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        z-index: 10;
        width: 90%;
      }

      #schedule h2 {
        color: #27AE60;
        font-size: 35px;
        font-weight: bold;
        display: block;
        width: 340px;
        height: 70px;
        text-align: left;
      }

      #event-container {
        margin: 0 auto;
        text-align: center;
      }

      #schedule #event {
        display: inline-block;
        width: 340px;
        height: 70px;
        padding-bottom: 5px;
      }

      #schedule #event #time {
        float: left;
        width: 90px;
        height: 80px;
        text-align: left;
      }

      #schedule #event #title {
        float: right;
        width: 250px;
        height: 80px;
        text-align: left;
      }

      #schedule #event #title h3 {
        font-weight: normal;
        margin-left: 30px;
      }

      #schedule #event #title p {
        margin: 4px 0px 0px 30px;
      }

      @media (max-width: 769px) {
        #schedule .content .column {
          width: 100%;
          display: block;
        }
        #schedule .content {
          margin: 0 auto;
          width: 50%;
          display: inline-block;
        }
      }

      @media (max-width: 620px) {
        #schedule .content {
          margin: 0 auto;
          width: 100%;
          display: inline-block;
        }
      }

      @media (max-width: 760px) {
        #schedule #event #ghost {
          /* used to prevent centering in last element */
          display: none;
        }
        #schedule h2 {
          /*text-align: center;*/
          margin-left: -5px;
        }
      }

      /*
            @media (max-width: 769px) {
              #schedule .content .column {
                width: 100%;
                display: block;
                margin: 0 auto;
              }
            }*/

      @media (max-width: 370px) {
        #schedule h2 {
          margin-left: 0px;
          font-size: 30px;
        }
        #schedule #event h3 {
          font-size: 18px;
        }
        #schedule #event {
          width: 320px;
        }
        #schedule #event #time {
          width: 70px;
          font-size: 16px;
        }
      }

      #schedule h3 {
        font-size: 20px;
      }

      #schedule img {
        display: inline-block;
        width: 472px;
      }

      #schedule p {
        line-height: 27px;
        font-size: 15px;
        letter-spacing: 0px;
        font-weight: 500;
      }


      @media (max-width: 768px) {
        #schedule img {
          width: 75%;
        }
      }

      .h1-container {
        text-align: left;
        h1 {
          margin: 1em auto;
          text-align: center;
        }
      }

      .hero-container {
        background-color: #FFFFFF;
        width: 100%;
      }

      /* create two equal columns that float next to each other */

      .hero-container .hero-column {
        box-sizing: border-box;
        float: left;
        width: 50%;
        padding: 15px;
      }

      .hero-container .hero-column img {
        width: 100%;
      }

      .hero-container .hero-column iframe {
        width: 100%;
      }

      /* clear floats after the columns */

      .hero-container .hero-row:after {
        content: "";
        display: table;
        clear: both;
      }

      .hero-container .tile-column {
        box-sizing: border-box;
        float: left;
        width: 33.333%;
        padding: 10px;
      }

      .hero-container .tile-column img {
        width: 100%;
      }

      .hero-container .tile-row:after {
        content: "";
        display: table;
        clear: both;
      }

      @media (min-width: 1137px) {
        .hero-container .hero-column {
          box-sizing: border-box;
          float: left;
          width: 50%;
          padding: 15px;
          padding-bottom: 0px;
          padding-right: 10px;
        }
      }

      @media (max-width: 384px) {
        #intro p {
          margin-left: 25px !important;
          margin-right: 25px !important;
          width: 90% !important;
        }
      }

      @media (max-width: 568px) {
        #intro {
          text-align: left;
        }
        #intro .h1-container h1 {
          width: 80%;
          text-align: center;
          padding-bottom: 20px;
        }

      }

      @media (max-width: 673px) {
        .hero-container .tile-column {
          width: 100%;
        }
      }

      @media (max-width: 1136px) {
        .hero-container .hero-column {
          width: 100%;
        }
        .hero-container .hero-column img {
          display: none;
        }
        #intro h1 {
          padding-top: 1%;
        }
      }

      /* for large displays */

      @media (min-width: 2000px) {
        .hero-container .hero-column {
          padding-top: 0;
          padding-bottom: 100px;
          width: 100%;
        }
        .hero-container .hero-column img {
          display: none;
        }
        .hero-container .tile-column {
          max-width: 100%;
        }
        #intro h1 {
          padding-top: 0;
        }
      }


      .sponsor-padding {
        padding-right: 118px;
      }

      .sponsor-content {
        font-weight: 200;
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
      }

      .sponsor-content .column {
        width: calc(60% - 15px);
        display: inline-block;
        z-index: 10;
      }

      .sponsor-content .column+.column {
        float: right;
      }

      @media (max-width: 768px) {
        .sponsor-padding {
          padding-right: 0px;
        }

        .sponsor-content .column {
          width: 100%;
          display: block;
        }
      }

      #sponsors {
        background: #111754;
        /* Old browsers */
        background: -moz-linear-gradient(top, #1b2056 0%, #1C205D 40%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #1b2056 0%, #1C205D 40%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #1b2056 0%, #1C205D 40%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1C215D', endColorstr='#000000', GradientType=0);
        /* IE6-9 */
        max-width: inherit;
        text-align: center;
      }

      #sponsors>div {
        margin: 0px 0;
      }

      #gallery-container {
        padding-top: 50px;
        width: 100%;
        height: 480px;
        padding-bottom: 3px;
        margin: 0 auto;
        white-space: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        background-color: $footer-bg;
      }

      #gallery {
        width: auto;
      }

      #gallery img {
        height: 460px;
        padding-right: 50px;
      }

      #gallery #img-last {
        padding-right: 0;
      }

      @media (max-width: 430px) {
        #gallery-container {
          height: 330px;
          padding-bottom: 0px;
        }
        #gallery img {
          height: 300px;
          padding-right: 30px;
        }
      }
    </style>

    <nwhacks-header></nwhacks-header>

    <div id="intro">
      <div class="hero-container">
        <div class="hero-row">
          <div class="hero-column">
            <div class="h1-container">
              <h1>This is nwHacks 2018</h1>
            </div>
            <p>
              Come make things and break things, and then make them cooler. You’ll never be short on inspiration when you’re surrounded
              by 600 of the brightest minds in the Pacific Northwest. All you need to bring is an open mind and an insatiable
              desire to learn; we’ll take care of the rest. After all, we’re western Canada’s largest hackathon — we make
              the west coast the best coast.
            </p>
          </div>
          <div class="hero-column">
            <!-- <img src="/svg/hero_photo.svg"> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/nuDuJyt2dys?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="tile-row">
          <div class="tile-column">
            <img src="/svg/code-tile.svg">
          </div>
          <div class="tile-column">
            <img src="/svg/design-tile.svg">
          </div>
          <div class="tile-column">
            <img src="/svg/build-tile.svg">
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="countdown">
          <nw-countdown target="2018-01-13T13:00:00-08:00"></nw-countdown>
        </div> -->
    <div id="faq">
      <div class="content">
        <div id="crystal">
          <object data="/svg/top_right_crystals.svg" type="image/svg+xml" id="top-right"></object>
          <object data="/svg/bottom_left_crystals.svg" type="image/svg+xml" id="bottom-left"></object>
          <object data="/svg/bottom_right_crystals.svg" type="image/svg+xml" id="bottom-right"></object>
        </div>
        <div class="h1-container">
          <h1>Frequently Asked Questions</h1>
        </div>
        <div class="column">
          <h2>Why nwHacks?</h2>
          <p>British Columbia, Oregon, and Alberta are currently seen as transit stations for tech companies. Designers, engineers,
            and business minds all flow down to California shortly after university graduation.</p>
          <p>We want to change that.</p>
          <p>nwHacks is dedicated to creating a thriving community of technology lovers in the Pacific Northwest region by bringing
            together the brightest minds for an epic two day event.</p>

          <h2>What is a "hackathon"?</h2>
          <p>A hackathon is an event where teams of 2-5 people collaborate on an application within the specified time limit
            (nwHacks is 24 hours long). Prizes are awarded to the most creative, polished and theme-specific projects or
            "hacks". The winners will be chosen by a panel of judges comprised of top industry professionals.</p>

          <h2>How can I officially sign up?</h2>
          <p>
            Registration on our website will open in November.
            <a href="http://eepurl.com/dF3b7n">Click here to sign up for an email reminder.</a>
          </p>

          <h2>What should I bring?</h2>
          <p>nwHacks is a 24h event, which means that hackers should be prepared to sleep overnight at the venue. Be sure to
            bring everything you need to stay the night, including a sleeping bag! All food will be provided at event so
            don't worry about that!</P>

          <h2>What if I don't have any experience?</h2>
          <p> No worries! Hackathons are really a place for learning. We'll have series of workshops to bootstrap you for hacking
            so you'll be ready in no time. Mentors will be walking around to help you with any problems you'll face. By the
            time you walk out, you'll have a new skill under your belt! </p>
        </div>

        <div class="column">
          <h2>How much does it cost?</h2>
          <p>nwHacks is 100% free for all participants. However, registration is strictly limited to high school and university
            students, and recent graduates only. A bus will be sent to the University of Washington for attendees from Seattle
            and the surrounding area. For other hackers, we will be offering a limited number of travel reimbursements of
            up to $200 per person (economy flights only).</p>

          <h2>Can I work on my previous projects?</h2>
          <p>No, all "hacks" must be built from scratch, although it is ok if you came up with the idea before hand. This rule
            is strictly adhered to at nwHacks and any team found working on a project that they already started will be automatically
            disqualified in the event. However this does not apply to any libraries or tools that you have made, so feel
            free to use libraries and any other code!</p>

          <h2>How big can my team be?</h2>
          <p>Teams are usually 2-5 people in size. Teams bigger than 5 people are usually split up into smaller ones, as we've
            found large teams aren't the best solution for a 24h event. Don't worry if you can't find your team beforehand,
            staff at the event will help you find other teammates and provide you with many opportunities to find others
            to help!</p>

          <h2>What happens if I don't have a team?</h2>
          <p>Don't worry! A lot of hackers just like you are in the same position. On the first day of the event, we will make
            sure to pair everyone up with a team of hackers so no one gets left out! There will also be an opportunity to
            connect with people and form teams before the event (after you have been chosen to attend).</p>

          <h2>I still have questions!</h2>
          <p>Feel free to email us at
            <a href="mailto:hello@nwplus.io">hello@nwplus.io</a> or
            <a href="https://facebook.com/nwHacks">shoot us a message on Facebook.</a>
          </p>
        </div>
        <div id="spacer">&nbsp;</div>
      </div>
    </div>

    <div id="calendar">
      <div id="schedule">
        <h1>Schedule</h1>
        <img src="/svg/Map.svg" id="map" />
        <br>
        <div class="content">
          <div class="column">
            <div id="event-container">
              <div id="event">
                <h2>Saturday, January 13</h2>
              </div>

              <div id="event">
                <h3 id="time">9:30 AM</h3>
                <div id="title">
                  <h3>Sponsor Booth Setup</h3>
                  <p>East & West Atrium</p>
                </div>
              </div>

              <div id="event">
                <h3 id="time">10:00 AM</h3>
                <div id="title">
                  <h3>Check-in & Bus Arrival</h3>
                  <p>War Memorial Gym</p>
                </div>
              </div>

              <div id="event">
                <h3 id="time">11:45 AM</h3>
                <div id="title">
                  <h3>Opening Ceremony</h3>
                  <p>War Memorial Gym</p>
                </div>
              </div>

              <div id="event">
                <h3 id="time">1:00 PM</h3>
                <div id="title">
                  <h3>Lunch + Hacking Begins!</h3>
                  <p>West Atrium</p>
                </div>
              </div>

              <div id="event">
                <h3 id="time"></h3>
                <div id="title">
                  <h3>Team Formation</h3>
                  <p>LSC 3</p>
                </div>
              </div>

              <div id="event">
                <h3 id="time">1:30 PM</h3>
                <div id="title">
                  <h3>Mentor Orientation</h3>
                  <p>Room 1330</p>
                </div>
              </div>

              <div id="event">
                <h3 id="time">7:00 PM</h3>
                <div id="title">
                  <h3>Dinner</h3>
                  <p>West Atrium</p>
                </div>
              </div>

              <div id="event ghost">
                <!-- ghost event -->
              </div>

            </div>
          </div>
          <div class="column">
            <div id="event-container">
              <div id="event">
                <h2>Sunday, January 14</h2>
              </div>

              <div id="event">
                <h3 id="time">8:00 AM</h3>
                <div id="title">
                  <h3>Breakfast</h3>
                  <p>West Atrium</p>
                </div>
              </div>


              <div id="event">
                <h3 id="time">1:00 PM</h3>
                <div id="title">
                  <h3>Projects Due!</h3>
                  <p></p>
                </div>
              </div>

              <div id="event">
                <h3 id="time">12:45 PM</h3>
                <div id="title">
                  <h3>Lunch</h3>
                  <p>West Atrium</p>
                </div>
              </div>

              <div id="event">
                <h3 id="time">1:15 PM</h3>
                <div id="title">
                  <h3>Judges Orientation</h3>
                  <p>Room 1330</p>
                </div>
              </div>

              <div id="event">
                <h3 id="time">2:00 PM</h3>
                <div id="title">
                  <h3>Demos</h3>
                  <p>East & West Atrium</p>
                </div>
              </div>

              <div id="event">
                <h3 id="time">4:15 PM</h3>
                <div id="title">
                  <h3>Closing Ceremony</h3>
                  <p>WOOD 2</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>


    <div id="sponsors" class="sponsor-content">
      <h1>Sponsors</h1>

      <div class="sponsors-giga">
        <br>
        <area-img src="/svg/logos/scotiabank.svg" href="http://scotiabank.com" area="60000"></area-img>
        <br>
        <area-img src="/img/logos/stdlib-light.png" href="https://stdlib.com/" area="60000"></area-img>
        <br>
        <br>
        <area-img src="/svg/logos/finning_digital.svg" href="http://www.finning.com/en_CA.html" area="60000"></area-img>
        <br>
        <area-img src="/svg/logos/telus-color.svg" href="https://www.telus.com/en/bc/careers/work-at-telus/students-grads/gelp/"
          area="40000"></area-img>
        <area-img src="/svg/logos/pia-logo.svg" href="https://www.privateinternetaccess.com/" area="40000"></area-img>
      </div>
      <div class="sponsors-mega">
        <area-img src="/svg/logos/ubc_large.svg" href="http://ubc.ca" area="30000"></area-img>
        <area-img src="/svg/logos/microsoft_large.svg" href="https://www.microsoft.com" area="30000"></area-img>
        <area-img src="/img/logos/sap-ixp.png" href="https://www.sap.com/canada/about/careers/university-programs/students/internships/internship-experience-project.html"
          area="30000"></area-img>
        <area-img src="/svg/logos/rbc_outline.svg" src-solid="/svg/logos/rbc.svg" href="http://www.rbc.com/techjobs/" area="30000"></area-img>
        <br>
        <area-img src="/svg/logos/right-mesh.svg" href="https://www.rightmesh.io/" area="30000"></area-img>
        <area-img src="/svg/logos/hootsuite-horizontal-white.svg" href="https://hootsuite.com" area="30000"></area-img>

        <!--
                <area-img src="/img/logos/ata.png" href="http://athinkingape.com"></area-img>
                <area-img src="/img/logos/clio.png" href="https://www.clio.com"></area-img>
                <area-img src="/svg/logos/cockroachdb-transparent.svg"
                          src-solid="/svg/logos/cockroachdb.svg"
                          href="https://www.cockroachlabs.com/"></area-img>
                <area-img src="/svg/logos/google-logo.svg" href="https://google.com"></area-img>
                <area-img src="/svg/logos/mojio.svg" href="https://www.moj.io"></area-img>
                <area-img src="/svg/logos/rbc_outline.svg"
                          src-solid="/svg/logos/rbc.svg"
                          href="http://www.rbc.com/techjobs/"></area-img>
                <area-img src="/svg/logos/telus.svg" href="https://labs.telus.com"></area-img>
                -->
      </div>
      <div class="sponsors-kilo">
        <area-img src="/svg/logos/deloitte-digital.svg" href="https://www.deloittedigital.com/" area="20000"></area-img>
        <area-img src="/svg/logos/cat.svg" href="https://ca.com" area="20000"></area-img>
        <area-img src="/svg/logos/google-logo.svg" href="https://google.com" area="20000"></area-img>
        <!--
                <area-img src="/img/logos/namecheap.png"
                          href="https://www.namecheap.com"
                          area="28600"></area-img>
                -->
      </div>
      <div class="sponsors-micro">
        <area-img src="/svg/logos/boast-capital_xs.svg" href="https://boastcapital.com" area="13000"></area-img>
        <area-img src="/svg/logos/red-transparent.svg" href="https://redacademy.com/" area="13000"></area-img>
        <area-img src="/img/logos/4imprint.png" href="https://www.4imprint.ca/" area="13000"></area-img>
        <br>
        <area-img src="/img/logos/monster.png" href="https://www.monsterenergy.com/" area="13000"></area-img>
        <area-img src="/img/logos/daily-hive.PNG" href="http://dailyhive.com/vancouver" area="13000"></area-img>
        <area-img src="/img/logos/vidyard-light.png" src-solid="/img/logos/vidyard-color.png" href="https://vidyard.com/" area="13000"></area-img>
        <area-img src="/img/logos/poniverse.png" href="https://poniverse.net" area="13000"></area-img>
        <br>
        <area-img src="/svg/logos/digital_ocean-xs.svg" href="https://digitalocean.com/" area="13000"></area-img>
        <area-img src="/img/logos/tech_xs.png" href="http://get.tech/" area="13000"></area-img>
        <area-img src="/img/logos/muse.png" href="http://www.choosemuse.com/" area="13000"></area-img>
        <area-img src="/img/logos/jetbrains-transparent.png" src-solid="/svg/logos/jetbrains.svg" href="http://www.jetbrains.com"
          area="13000"></area-img>
        <br>
        <area-img src="/svg/logos/lebeau.svg" href="http://www.grababetterwaffle.com/" area="13000"></area-img>
        <area-img src="/svg/logos/sketch_xs.svg" href="http://sketchapp.com/" area="13000"></area-img>
        <area-img src="/svg/logos/jumpstart.svg" href="https://jumpstart.me/" area="13000"></area-img>
        <area-img src="/img/logos/stickermule.png" href="https://www.stickermule.com/ca/uses/laptop-stickers" area="13000"></area-img>
        <br>
        <area-img src="/svg/logos/wolfram.svg" href="https://www.wolfram.com/language/" area="13000"></area-img>
        <area-img src="/img/logos/grounds.png" href="http://www.groundsforcoffee.ca/" area="13000"></area-img>
        <area-img src="/img/logos/teaja.png" href="http://teajaoffice.com/" area="13000"></area-img>
        <area-img src="/svg/logos/sparkling-ice_xs.svg" href="http://sparklingice.com/" area="13000"></area-img>
        <br>
        <br>

        <!--
                <area-img src="/svg/logos/Costco_Wholesale.svg"
                          href="http://www.costco.ca"
                          area="14000"></area-img>
                <area-img src="/img/logos/cvr.png"
                          href="https://www.consumer-vr.com"
                          area="14000"></area-img>
                <area-img src="/svg/logos/red-transparent.svg"
                          src-solid="/svg/logos/red.svg"
                          href="https://www.redacademy.com"
                          area="14000"></area-img>
                <area-img src="/img/logos/spring.png"
                          href="http://spring.is"
                          area="14000"></area-img>
                <area-img src="/img/logos/teradici.png"
                          href="http://www.teradici.com"
                          area="14000"></area-img>
                <area-img src="/svg/logos/wantoo.svg"
                          href="https://wantoo.io"
                          area="14000"></area-img>
                -->
      </div>

      <div>
        <center>
          <a class="none" href="https://2017.nwhacks.io/#sponsors">
            <paper-button class="button">Past Sponsors</paper-button>
          </a>
        </center>
      </div>

      <h1>Partners</h1>
      <div class="partners">
        <area-img src="/img/logos/startupstorm.png" href="http://www.startupstorm.org" area="24000"></area-img>
        <area-img src="/svg/logos/mlh-logo-color.svg" href="https://mlh.io/" area="24000"></area-img>
        <!--
                <area-img src="/img/logos/ubc-engineering-transparent.png"
                          src-solid="/img/logos/ubc-engineering.png"
                          href="https://engineering.ubc.ca"
                          area="24000"></area-img>
                -->
      </div>
    </div>

    <div id="gallery-container">
      <div id="gallery">
        <div class="gallery-row">
          <img src="/img/gallery/gallery_1.png" />
          <img src="/img/gallery/gallery_2.png" />
          <!--<img src="/img/gallery/gallery_5.jpg"/>-->
          <img src="/img/gallery/gallery_3.png" />
          <!--<img src="/img/gallery/gallery_6.jpg"/>-->
          <img src="/img/gallery/gallery_4.png" id="img-last" />
        </div>
      </div>
    </div>


  </template>

  <script>
    class IndexPage extends Polymer.Element {
      static get is() { return 'index-page' }
    }
    customElements.define(IndexPage.is, IndexPage)
  </script>

</dom-module>
