<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../role-styles.html">

<dom-module id="sponsorship-role">
    <template>
        <style include="role-styles">
            :host {
                display: block;
            }
        </style>
        <div id="aurora">
            <div id="small-tagline">nwHacks is searching for a</div>
            <div id="tagline">Sponsorship Coordinator</div>
        </div>
        <div id="content">
            <h2>You will...</h2>
            <p>
                <ul>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" />Build personal connections with industry pros from all over North America, from local startups to multinational corporations.
                    </li>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" />Bring new sponsors on board, through cold calling, emailing, and attending networking/industry events.
                    </li>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" />Coordinate with the logistics and marketing teams to accommodate our sponsors and show them some community love.
                    </li>
                </ul>
            </p>

            <h2>You are...</h2>
            <p>
                <ul>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" />Well-spoken and persuasive. You could talk your way out of a parking ticket. Bonus points if you can charm the pants off anyone over the phone just as well as in person.
                    </li>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" />Great at handling rejection — in fact, you’re driven by it. You maintain a positive attitude even when things don’t seem to be working out.
                        <li>
                        <img class="checkmark" src="svg/checkmark.svg" />Professional and diplomatic. You have email etiquette down pat, and you’re a skilled negotiator with experience in handling conflicts of interest.
                    </li>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" />In Vancouver during the 2018-2019 academic year.</li>
                </ul>
            </p>

            <h2>You'll gain...</h2>
            <p>
                <ul>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" />Incredible networking, sales, and cold calling experience. When else are you going to get the chance to chat with leaders of global corporations and CEOs of the most up-and-coming startups?
                    </li>
                    <li>
                        <img class="checkmark" src="svg/checkmark.svg" />The opportunity to exercise and improve your negotiation skills in a real-world fashion.
                    </li>
                </ul>
            </p>
            <a href="/hiring_form"><paper-button>Apply now</paper-button></a>
        </div>

    </template>


    <script>
    class SponsorshipRole extends Polymer.Element {
  static get is() {
    return "sponsorship-role";
  }
}

customElements.define(SponsorshipRole.is, SponsorshipRole);
</script>

</dom-module>
