<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="../light-page.html">
<link rel="import" href="../generic-form.html">
<link rel="import" href="../city-input.html">
<link rel="import" href="../github-input.html">
<link rel="import" href="../school-input.html">
<link rel="import" href="../bool-input.html">

<dom-module id="mentorexpo-form">
  <template>
    <style include="light-page">
      :host {
        display: block;
      }
      paper-checkbox, input[type="file"] {
        display: block;
        padding: 8px 0px;
      }
    </style>

    <h1 title>Mentor / Expo Judge Registration</h1>

    <generic-form name="mentorexpo" data="{{data}}" closed is-admin="[[isAdmin]]">
      <div slot="intro">
        <p>
        nwHacks is Western Canada’s largest collegiate hackathon taking place on
        January 13th - 14th 2018 at the University of British Columbia.
        </p>
        <p>
        We need your help to guide hackers through learning new technologies or
        fixing those pesky bugs. Mentors will be on-site and answering technical
        questions throughout the 24 hour period. Expo judges will be on-site and
        evaluating a randomly selected portion of the hundreds of completed
        projects to determine the top five projects of nwHacks 2018.
        Complementary nwHacks t-shirt and food & beverages will be provided.
        </p>
        <p>
        If you have any questions or concerns, please
        <a href="mailto:hello@nwplus.io">email us</a>.
        </p>
      </div>

      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Invalid Phone Number"
        label="What is your phone number?"
        placeholder="xxx-xxx-xxxx"
        type="tel"
        name="phone"
        value="{{data.phone}}">
      </paper-input>

      <paper-input
        required
        auto-validate
        maxlength="200"
        error-message="Required"
        label="What is your current occupation?"
        placeholder="Enter occupation here"
        name="occupation"
        value="{{data.occupation}}">
      </paper-input>

      <school-input
        label="Where are you currently employed or attend school?"
        name="school"
        value="{{data.school}}">
      </school-input>

      <p>When are you available? Please check all that apply:</p>

      <paper-checkbox
        name="sat_afternoon"
        checked="{{data.sat_afternoon}}">
        Mentoring: Saturday Afternoon ~(1pm - 6pm)
      </paper-checkbox>

      <paper-checkbox
        name="sat_evening"
        checked="{{data.sat_evening}}">
        Mentoring: Saturday Evening ~(6pm - 11pm)
      </paper-checkbox>

      <paper-checkbox
        name="overnight"
        checked="{{data.overnight}}">
        Mentoring: Overnight ~(11pm - 3am)
      </paper-checkbox>

      <paper-checkbox
        name="sun_morning"
        checked="{{data.sun_morning}}">
        Mentoring: Sunday Morning ~(7am - 12pm)
      </paper-checkbox>

      <paper-checkbox
        name="expo_judging"
        checked="{{data.expo_judging}}">
        Expo Judging: Sunday 1pm - 4pm
      </paper-checkbox>

      <paper-dropdown-menu
        required
        auto-validate
        error-message="Required"
        label="What is your t-shirt size? (unisex)"
        horizontal-align="left"
        name="tshirt"
        selected-item-label="{{data.tshirt}}">
        <paper-listbox slot="dropdown-content">
          <paper-item>S</paper-item>
          <paper-item>M</paper-item>
          <paper-item>L</paper-item>
          <paper-item>XL</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-dropdown-menu
        required
        auto-validate
        error-message="Required"
        label="Do you have any dietary restrictions or allergies?"
        horizontal-align="left"
        name="dietary"
        selected-item-label="{{data.dietary}}">
        <paper-listbox slot="dropdown-content">
          <paper-item>No</paper-item>
          <paper-item>Vegetarian</paper-item>
          <paper-item>Vegan</paper-item>
          <paper-item>Gluten Free</paper-item>
          <paper-item>Other</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-input
        required="[[eq(data.dietary, 'Other')]]"
        hidden$="[[!eq(data.dietary, 'Other')]]"
        auto-validate
        maxlength="200"
        error-message="Required"
        label="Please specify your dietary restrictions or allergies"
        placeholder="Enter restrictions here"
        name="dietary_other"
        value="{{data.dietary_other}}">
      </paper-input>

      <paper-dropdown-menu
        required
        auto-validate
        error-message="Required"
        label="How did you hear about nwHacks?"
        horizontal-align="left"
        name="hear"
        selected-item-label="{{data.hear}}">
        <paper-listbox slot="dropdown-content">
          <paper-item>MLH</paper-item>
          <paper-item>Social Media</paper-item>
          <paper-item>Website</paper-item>
          <paper-item>Word of Mouth</paper-item>
          <paper-item>Club Newsletter</paper-item>
          <paper-item>Faculty Newsletter</paper-item>
          <paper-item>Professor/In Class</paper-item>
          <paper-item>Other</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-input
        required="[[eq(data.hear, 'Other')]]"
        hidden$="[[!eq(data.hear, 'Other')]]"
        auto-validate
        maxlength="200"
        error-message="Required"
        label="Please specify where you heard about nwHacks"
        placeholder="Enter response here"
        name="hear_other"
        value="{{data.hear_other}}">
      </paper-input>

      <paper-checkbox
        required
        auto-validate
        error-message="Required">
        I agree to the terms of both the
        <a href="https://github.com/MLH/mlh-policies/tree/master/prize-terms-and-conditions" target="_blank">
          MLH Contest Terms and Conditions
        </a>
        and the
        <a href="https://mlh.io/privacy" target="_blank">MLH Privacy Policy</a>.
        Please note that you may receive pre and post-event informational
        e-mails and occasional messages about hackathons from MLH as per the MLH
        Privacy Policy.
      </paper-checkbox>

      <paper-checkbox
        required
        auto-validate
        error-message="Required">
        I agree to abide by the
        <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">
          MLH Code of Conduct
        </a> at all times during the
        event.
      </paper-checkbox>
    </generic-form>

  </template>

  <script>
class MentorExpoForm extends Polymer.Element {
  static get is () { return 'mentorexpo-form' }

  eq (a, b) {
    return a === b
  }
}

customElements.define(MentorExpoForm.is, MentorExpoForm)
  </script>
</dom-module>
