<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">

<link rel="import" href="../moment-js.html">
<link rel="import" href="../bool-input.html">
<link rel="import" href="../light-page.html">

<dom-module id="rsvp-page">
  <template>
    <style include="light-page">
      #container {
        max-width: 640px;
        margin: 0 auto;
      }
      .invalid {
        color: red;
      }
      #buttons {
        margin: 32px 0;
      }
      paper-checkbox {
        display: block;
        margin: 15px;
      }
    </style>

    <div id="container">

      <template is="dom-if" if="[[!blocked]]">
        <form id="form">
          <h1 title>Will you be going to nwHacks?</h1>
          <h2>Jan 13-14, 2018 @ University of British Columbia</h2>

          <p class="invalid" hidden$="{{!hasRSVPed}}">
          <b>You've already RSVPed, but you can update your response below.</b>
          </p>

          <bool-input
             name="going"
             value="{{data.going}}"
             label="Will you be attending nwHacks 2018?"
             yes-label="Yes! I can't wait!"
             no-label="No, I am no longer able to attend.">
          </bool-input>

          <div hidden$="[[!data.going]]">
            <bool-input
               required="[[data.going]]"
               name="large_electronic"
               value="{{data.large_electronic}}"
               label="Are you planning on bringing a desktop/additional monitor/other
               large device to use for your project?">
            </bool-input>

            <div hidden$="[[!data.large_electronic]]">
              <p>
              Our venue is a research facility with certain electricity limitations,
              requiring us to be mindful of the number of large electronics that are
              plugged in at any given time.
              </p>
              <paper-textarea
               required="[[data.large_electronic]]"
               auto-validate
               error-message="Required"
               label="Please explain what hardware you intend to bring and why it is necessary for your project."
               rows=4
               name="large_electronic_reason"
               value="{{data.large_electronic_reason}}">
              </paper-textarea>
            </div>


            <p>
            Listed below are potential sponsor workshops. Please check all that you
            would be interested in attending!
            </p>

            <paper-checkbox
               checked="{{data.workshop_amazon_alexa}}"
               name="workshop_amazon_alexa">
              Amazon Alexa
            </paper-checkbox>

            <paper-checkbox
               checked="{{data.workshop_chatbots}}"
               name="workshop_chatbots">
              Chatbots
            </paper-checkbox>

            <paper-checkbox
               checked="{{data.workshop_apis_101}}"
               name="workshop_apis_101">
              APIs 101
            </paper-checkbox>

            <paper-checkbox
               checked="{{data.workshop_server_hosting}}"
               name="workshop_server_hosting">
              Server Hosting
            </paper-checkbox>

            <paper-checkbox
               checked="{{data.workshop_cybersecurity}}"
               name="workshop_cybersecurity">
              Cybersecurity
            </paper-checkbox>

            <paper-checkbox
               checked="{{data.workshop_iot}}"
               name="workshop_iot">
              IoT
            </paper-checkbox>

            <paper-checkbox
               checked="{{data.workshop_cryptocurrency}}"
               name="workshop_cryptocurrency">
              Cryptocurrency
            </paper-checkbox>

            <paper-checkbox
               checked="{{data.workshop_wearables}}"
               name="workshop_wearables">
              Wearables
            </paper-checkbox>

            <paper-input
               label="Any other workshops you'd be interested in?"
               name="workshop_other"
               checked="{{data.workshop_other}}">
            </paper-input>
          </div>


          <p class="invalid" hidden$="{{valid}}">
            You must fill out all required fields.
          </p>

          <center>
            <paper-button elevation="1" on-tap="submit" class="register">RSVP</paper-button>
          </center>
        </form>
      </template>

      <template is="dom-if" if="[[blocked]]">
        <h1 title>RSVP Deadline Passed</h1>
        <template is="dom-if" if="[[rsvp.going]]">
          <p>
          You replied saying that you were going to nwHacks. If that is no longer
          the case please reach out to us via Facebook or
          <a href="mailto:hello@nwplus.io">email</a>
          to let us know.
          </p>
        </template>
        <template is="dom-if" if="[[!rsvp.going]]">
          <p>
          Sorry, the RSVP deadline has passed for your acceptance ([[closedAgo]]).
          Unfortunately, you won't be able to go to nwHacks this year since we have
          already marked you as not going and have started accepting people from the
          wait list.
          </p>
        </template>
      </template>

    </div>

    <paper-dialog no-cancel-on-esc-key id="invalidid" modal>
      <h2>Invalid ID</h2>
      <p>
        Sorry, we can't find a valid person matching your ID!
      </p>
      <p>
        Please try again, or contact <a href="mailto:hello@nwplus.io">hello@nwplus.io</a>.
      </p>
    </paper-dialog>

    <paper-dialog no-cancel-on-esc-key id="rsvping" modal>
      <h2>Submitting RSVP...</h2>
      <p>
        <paper-progress indeterminate></paper-progress>
      </p>
    </paper-dialog>

    <paper-dialog no-cancel-on-esc-key id="rsvperror" modal>
      <h2>Error submitting RSVP</h2>
      <p>[[error]]</p>
      <p>Please try again later or use a different browser.</p>
      <div class="buttons">
        <a class="none" href="/"><paper-button dialog-confirm autofocus>Return Home</paper-button></a>
      </div>
    </paper-dialog>

    <paper-dialog no-cancel-on-esc-key id="rsvped" modal>
      <h2>RSVP Successful</h2>
      <p>
        Thanks for filling out the form — we can’t wait to see you at nwHacks 2018!
      </p>

      <p>
        If you have any questions, don’t hesitate to shoot us a message on
        <a href="https://www.facebook.com/nwHacks">Facebook</a> or via
        <a href="mailto:hello@nwplus.io">email</a>.
      </p>

      <p>
        Your friends,<br>
        The nwHacks team
      </p>
      <div class="buttons">
        <a class="none" href="/"><paper-button dialog-confirm autofocus>Return Home</paper-button></a>
      </div>
    </paper-dialog>

    <firebase-document id="rsvp"
                       path="/form/registration/[[sid]]/tags"
                       data="{{status}}">
    </firebase-document>
    <firebase-document path="/form/registration/[[sid]]/rsvp"
                       data="{{rsvp}}">
    </firebase-document>
    <firebase-document path="/admin/tags"
                       data="{{tags}}">
    </firebase-document>
  </template>
  <script>
'use strict';

class RSVPPage extends Polymer.Element {
  static get is () { return 'rsvp-page' }

  static get properties () {
    return {
      sid: String,
      valid: {
        type: Boolean,
        value: true
      },
      isAdmin: {
        type: Boolean,
        value: false
      },
      data: {
        type: Object,
        value () {
          return {
            // This version corresponds to the validation in Firebase to ensure
            // people don't submit old forms.
            version: 2
          }
        }
      },
      status: {
        type: String,
        observer: 'handleStatus'
      },
      zero: {
        type: Object,
        value: false
      },
      hasRSVPed: {
        type: Boolean,
        computed: '_computeHasRSVPed(rsvp)',
        value: false
      },
      blocked: {
        type: Boolean,
        computed: '_computeBlocked(status, tags, isAdmin)',
        value: false
      }
    }
  }

  _computeHasRSVPed (rsvp) {
    return Object.keys(rsvp || {}).length > 0
  }

  _computeBlocked (status, tags, isAdmin) {
    const closeTime = this.closeTime(status, tags)
    return moment() > closeTime && !isAdmin
  }

  closeTime (status, tags) {
    if (!status || !tags) {
      return
    }

    let closeTime = 0
    Object.keys(status).forEach((tag) => {
      const rsvpBy = (tags[tag] || {}).rsvp_by
      if (!rsvpBy) {
        return
      }
      const time = moment(rsvpBy).endOf('day')
      if (!closeTime || time > closeTime) {
        closeTime = time
      }
    })
    if (closeTime) {
      this.closedAgo = closeTime.fromNow()
    }
    return closeTime
  }

  handleStatus (status, oldStatus) {
    if (!oldStatus) {
      return
    }
    if (Object.keys(status).length > 0) {
      this.$.invalidid.close()
    } else {
      this.$.invalidid.open()
    }
  }

  validate () {
    let valid = true
    this.inputs().forEach((input) => {
      if (!input.validate()) {
        valid = false
      }
    })
    this.valid = valid
    return valid
  }

  inputs () {
    return Array.from(this.children)
                .concat(Array.from(this.root.querySelectorAll('#form *')))
                .filter((a) => a.validate)
  }

  submit () {
    this.valid = this.validate()
    if (!this.valid) {
      return
    }
    this.$.rsvping.open()
    this.$.rsvp.setStoredValue('/form/registration/' + this.sid + '/rsvp', this.data).then(() => {
      this.$.rsvping.close()
      this.$.rsvped.open()
    }).catch((e) => {
      this.error = e
      this.$.rsvping.close()
      this.$.rsvperror.open()
    })
  }
}

customElements.define(RSVPPage.is, RSVPPage)
  </script>
</dom-module>
