<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">

<link rel="import" href="../radio-group.html">
<link rel="import" href="../moment-js.html">
<link rel="import" href="../light-page.html">

<dom-module id="rsvp-page">
  <template>
    <style include="light-page">
      #form {
        max-width: 640px;
        margin: 0 auto;
        text-align: center;
      }
      .invalid {
        color: red;
      }
      #buttons {
        margin: 32px 0;
      }
    </style>

    <div id="form">
    <h1 title>Will you be going to nwHacks?</h1>
    <h2>Jan 13-14, 2018 @ University of British Columbia</h2>
      <p class="invalid" hidden$="{{!hasRSVPed}}">
      <b>You've already RSVPed.</b>
      </p>

      <div id="buttons">
      <paper-button class="register" on-tap="yes">Yes! I'll Be There!</paper-button>
      <br>
      <paper-button class="button" on-tap="no">No. I can't make it.</paper-button>
      </div>
    </div>


    <paper-dialog no-cancel-on-esc-key id="invalidid" modal>
      <h2>Invalid ID</h2>
      <p>
        Sorry, we can't find a valid person matching your ID!
      </p>
      <p>
        Please try again, or contact <a href="mailto:info@nwhacks.io">info@nwhacks.io</a>.
      </p>
    </paper-dialog>

    <paper-dialog no-cancel-on-esc-key id="toolate" modal>
      <h2>RSVP Deadline Passed</h2>
      <p>
      Sorry, the RSVP deadline has passed for your acceptance ([[deadline]]).
      Unfortunately, you won't be able to go to nwHacks this year since we have
      already marked you as not going and have started accepting people from the
      wait list.
      </p>
      <div class="buttons">
        <a class="none" href="/"><paper-button dialog-confirm autofocus>Return Home</paper-button></a>
      </div>
    </paper-dialog>

    <paper-dialog no-cancel-on-esc-key id="rsvping" modal>
      <h2>Submitting RSVP...</h2>
      <p>
        <paper-progress indeterminate></paper-progress>
      </p>
    </paper-dialog>
    <paper-dialog no-cancel-on-esc-key id="rsvperror" modal>
      <h2>Error submitting RSVP</h2>
      <p>[[error]]</p>
      <p>Please try again later or use a different browser.</p>
      <div class="buttons">
        <a class="none" href="/"><paper-button dialog-confirm autofocus>Return Home</paper-button></a>
      </div>
    </paper-dialog>
    <paper-dialog no-cancel-on-esc-key id="rsvped" modal>
      <h2>RSVP Successful</h2>
      <p>
        All set!
        See you at nwHacks!
      </p>
      <div class="buttons">
        <a class="none" href="/"><paper-button dialog-confirm autofocus>Return Home</paper-button></a>
      </div>
    </paper-dialog>

    <firebase-document id="rsvp"
                       path="[[hackerStatusKey(sid)]]"
                       data="{{status}}">
    </firebase-document>
    <firebase-document path="[[hackerAcceptanceSentKey(sid)]]"
                       data="{{acceptanceSent}}">
    </firebase-document>
    <firebase-document path="[[hackerRSVPKey(sid)]]"
                       data="{{rsvp}}">
    </firebase-document>
  </template>
  <script>
'use strict';
const respCategories = ['No Response', 'Going', 'Travel Reimbursement Required', 'Not Going']
Object.freeze(respCategories)

class RSVPPage extends Polymer.Element {
  static get is () { return 'rsvp-page' }

  static get properties () {
    return {
      categories: {
        type: Array,
        value: respCategories,
      },
      sid: String,
      valid: {
        type: Boolean,
        value: true,
      },
      form: {
        type: Object,
        value () { return {} }
      },
      status: {
        type: String,
        observer: 'handleStatus'
      },
      zero: {
        type: Object,
        value: false
      },
      hasRSVPed: {
        type: Boolean,
        value: false
      }
    }
  }

  static get observers () {
    return [
      'blockRegistration(status, rsvp, acceptanceSent)'
    ]
  }

  blockRegistration (status, rsvp, acceptanceSent) {
    const hasRSVPed = Object.keys(rsvp || {}).length > 0
    this.hasRSVPed = hasRSVPed

    if (status === "accepted" && acceptanceSent.Valid === true) {
      const blockedTime = moment(acceptanceSent.Time).add(7, 'days')
      this.deadline = blockedTime.fromNow()
      this.missedDeadline = moment().isAfter(blockedTime) && !hasRSVPed
      if (this.missedDeadline) {
        this.$.toolate.open()
      } else {
        this.$.toolate.close()
      }
    }
  }

  handleStatus (status, oldStatus) {
    if (!oldStatus) {
      return
    }
    if (status === "accepted") {
      this.$.invalidid.close()
    } else {
      this.$.invalidid.open()
    }
  }

  yes () {
    this.form = {
      going: true
    }
    this.submit()
  }

  no () {
    this.form = {
      going: false
    }
    this.submit()
  }

  validate () {
    if (this.missedDeadline) {
      return false
    }
    return true
  }

  submit () {
    this.valid = this.validate()
    if (!this.valid) {
      return
    }
    this.$.rsvping.open()
    this.$.rsvp.setStoredValue('/form/registration/'+this.sid+'/rsvp', this.form).then(() => {
      this.$.rsvping.close()
      this.$.rsvped.open()
    }).catch((e) => {
      this.error = e
      this.$.rsvping.close()
      this.$.rsvperror.open()
    });
  }

  hackerStatusKey (id) {
    return '/form/registration/'+id+'/status'
  }

  hackerAcceptanceSentKey (id) {
    return '/form/registration/'+id+'/acceptance_sent'
  }

  hackerRSVPKey (id) {
    return '/form/registration/'+id+'/rsvp'
  }
}

customElements.define(RSVPPage.is, RSVPPage)
  </script>
</dom-module>
