<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-query.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">

<link rel="import" href="../nw-viewing.html">
<link rel="import" href="../html-sandbox.html">

<dom-module id="emailtemplates-page">
  <template>
    <style include="light-page">
      :host {
        display: flex;
        flex-direction: column;

        height: calc(100vh - 65px);
        padding: 0;

        --paper-input-container: {
          padding-bottom: 16px;
        };
      }
      paper-item {
        cursor: pointer;
      }
      .columns {
        display: flex;
      }
      .columns > div {
        flex-grow: 100000;
        padding: 0 16px;
        overflow-y: auto;
      }
      .columns .rows {
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      iron-list {
        flex-grow: 100000;
        margin: 0 0;
        overflow-x: hidden;
      }
      #newContainer {
        display: flex;
      }
      .fill {
        flex-basis: 50%;
      }
      html-sandbox {
        flex-grow: 100000;
      }
      table, td, th {
        border-collapse: collapse;
        border: none;
      }
      td, th {
        text-align: left;
        padding: 5px 8px;
      }
      tr:nth-child(2n) {
        background-color: #eee;
      }
      th {
        border-bottom: 2px solid var(--primary-color);
      }
      .right {
        float: right;
      }
    </style>

    <div class="columns">
      <div class="rows">
        <h1 title>Email Templates</h1>
        <iron-list items="[[templates]]">
          <template>
            <paper-item on-tap="select">
              <paper-item-body two-line>
                <div>
                  [[item.slug]]
                </div>
                <div secondary>
                  [[item.subj]]
                </div>
              </paper-item-body>
            </paper-item>
          </template>
        </iron-list>
        <h3>New Template</h3>
        <div id="newContainer">
          <paper-input
            id="slug"
            required
            auto-validate
            label="Slug"
            value="{{_slug}}">
          </paper-input>
          <paper-button on-tap="new">New</paper-button>
        </div>
      </div>

      <template is="dom-if" if="[[slug]]">
        <div class="fill">

          <div class="right">
            <nw-viewing
              viewing
              viewers="{{template.viewers}}"
              position="left"
              disabled="[[!template.slug]]"
              email="[[user.email]]"
              name="[[user.displayName]]">
            </nw-viewing>

            <paper-button
               on-tap="publish"
               class="register"
               disabled="[[!different(template.body, template.draftBody, template.subj, template.draftSubj)]]">
              Publish
            </paper-button>
          </div>

          <h2>[[template.slug]]</h2>

          <paper-input
            value="{{template.draftSubj}}"
            label="Subject">
          </paper-input>

          <paper-textarea
            always-float-label
            value="{{template.draftBody}}"
            label="Body (Markdown)">
          </paper-textarea>

          <h2>Variables</h2>
          <table border="1" class="docutils">
            <thead valign="bottom">
              <tr class="row-odd">
                <th class="head">Variable</th>
                <th class="head">Description</th>
              </tr>
            </thead>
            <tbody valign="top">
              <tr class="row-even">
                <td>%recipient%</td>
                <td>Full recipient spec, like “Bob &lt;<a class="reference external" href="mailto:bob%40example.com">bob<span>@</span>example<span>.</span>com</a>&gt;” (for using as value for “To” MIME header).</td>
              </tr>
              <tr class="row-odd">
                <td>%recipient_email%</td>
                <td>Recipient’s email address, like <a class="reference external" href="mailto:bob%40example.com">bob<span>@</span>example<span>.</span>com</a>.</td>
              </tr>
              <tr class="row-even">
                <td>%recipient_name%</td>
                <td>Recipient’s full name, like “John Q. Public”.</td>
              </tr>
              <tr class="row-odd">
                <td>%recipient_fname%</td>
                <td>Recipient’s first name.</td>
              </tr>
              <tr class="row-even">
                <td>%recipient_lname%</td>
                <td>Recipient’s last name.</td>
              </tr>
              <tr class="row-odd">
                <td>%unsubscribe_url%</td>
                <td>A generated URL which allows users to unsubscribe from messages.</td>
              </tr>
              <tr class="row-even">
                <td>%mailing_list_unsubscribe_url%</td>
                <td>A generated URL which allows users to unsubscribe from mailing lists.</td>
              </tr>
              <tr class="row-odd">
                <td>%unsubscribe_email%</td>
                <td>An email address which can be used for automatic unsubscription by adding it to List-Unsubscribe MIME header.</td>
              </tr>
              <tr class="row-even">
                <td>%recipient.yourvar%</td>
                <td>Accessing a custom datavalue.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="fill rows">
          <h2>Preview</h2>
          <paper-tabs selected="{{selected}}" attr-for-selected="text-content" scrollable>
            <paper-tab>Draft</paper-tab>
            <paper-tab>Published</paper-tab>
          </paper-tabs>

          <template is="dom-if" if="[[eq(selected, 'Draft')]]">
            <h3>[[render(template.draftSubj)]]</h3>

            <html-sandbox html="[[renderBody(template.draftBody, emailTemplate)]]">
            </html-sandbox>
          </template>

          <template is="dom-if" if="[[eq(selected, 'Published')]]">
            <h3>[[render(template.subj)]]</h3>

            <html-sandbox html="[[renderBody(template.body, emailTemplate)]]">
            </html-sandbox>
          </template>
        </div>
      </template>
    </div>

    <firebase-query path="/admin/emailtemplates"
                       disabled="[[!isAdmin]]"
                       data="{{templates}}">
    </firebase-query>

    <firebase-document path="/admin/emailtemplates/[[slug]]"
                       disabled="[[!isAdmin]]"
                       data="{{template}}">
    </firebase-document>

    <iron-ajax
           auto
           url="/data/email.html"
           handle-as="text"
           last-response="{{emailTemplate}}">
    </iron-ajax>

    <app-route
      route="{{route}}"
      active="{{routeActive}}"
      pattern="/:slug"
      data="{{routeData}}"
      tail="{{subRoute}}">
    </app-route>
  </template>
  <script>
class EmailTemplatesPage extends Polymer.Element {
  static get is () { return 'emailtemplates-page' }

  static get properties () {
    return {
      template: {
        type: Object
      },

      selected: {
        value: 'Draft',
        type: String
      },

      slug: String
    }
  }

  static get observers () {
    return [
      'migrateTemplates(template)',
      '_pathChange(routeData.slug)'
    ]
  }

  _pathChange (slug) {
    this.slug = slug
  }

  eq (a, b) {
    return a === b
  }

  publish () {
    if (!confirm('Are you sure you want to publish? This isn\'t reversable.')) {
      return
    }

    this.set('template.subj', this.template.draftSubj)
    this.set('template.body', this.template.draftBody)
  }

  migrateTemplates (template) {
    if (template.subj && !template.draftSubj) {
      this.set('template.draftSubj', template.subj)
    }
    if (template.body && !template.draftBody) {
      this.set('template.draftBody', template.body)
    }
  }

  select (e) {
    this.slug = e.model.item.$key
    this.set('route.path', this.slug)
  }

  renderBody (body, template) {
    if (!template) {
      return
    }
    return this.render(template.replace('{{.}}', marked(body || '')))
  }

  different (body, draftBody, subj, draftSubj) {
    return body !== draftBody || subj !== draftSubj
  }

  new () {
    if (!this.$.slug.validate()) {
      return
    }

    if (this.templates.hasOwnProperty(this._slug)) {
      this._slug = ''
      return
    }

    const slug = this._slug.trim().replace(/\W+/g, '-')

    this.set(['templates', slug], {
      slug: slug,
      name: this._slug
    })

    this._slug = ''
  }

  render (text) {
    if (!text) {
      return
    }

    text = text.replace(/%recipient%/g, "First Last <last@example.com>")
    text = text.replace(/%recipient_email%/g, "last@example.com")
    text = text.replace(/%recipient_name%/g, "First Last")
    text = text.replace(/%recipient_fname%/g, "First")
    text = text.replace(/%recipient_lname%/g, "Last")
    text = text.replace(/%unsubscribe_url%/g, "https://example.com/unsubscribe_url")
    text = text.replace(/%mailing_list_unsubscribe_url%/g, "https://example.com/mailing_list_unsubscribe_url")
    text = text.replace(/%unsubscribe_email%/g, "unsubscribe@example.com")
    return text
  }
}

customElements.define(EmailTemplatesPage.is, EmailTemplatesPage)
  </script>
</dom-module>

