<dom-module id="register-closed">
  <template>
    <style>
      :root {
        --primary-text-color: white;
      }
      :host {
        display: block;
      }
      img[item-icon] {
        height: 40px;
        width: 40px;
        border-radius: 100px;
      }
      paper-icon-item {
        pointer-events: none;
      }
      paper-checkbox, input[type="file"] {
        display: block;
        padding: 8px 0px;
      }
      form {
        max-width: 640px;
        margin: 0 auto;
      }
      div[prefix] {
        opacity: 0.6;
      }
      .register {
        margin-top: 50px;
      }
      .invalid {
        color: red;
      }
      p {
        text-align: center;
      }
    </style>

    <h1 id="register">Registration is now closed!</h1>
    <p>If you didn't register in time, hopefully we'll see you at the next nwHacks!</p>

  </template>

  <script>
// element registration
Polymer({
  is: "register-closed",

  properties: {
    valid: {
      type: Boolean,
      value: function() { return true; }
    },
    githubURL: {
      computed: 'updateGithubURL(data.github)'
    },
    citiesURL: {
      computed: 'updateCitiesURL(data.city, cityFocused)'
    },
    citiesClean: {
      computed: 'cleanCities(cities)'
    },
    data: {
      type: Object,
      notify: true,
      value: function() { return {}; }
    },
  },
  attached: function() {
    this.$.shirtSize.invalid = true;
    this.$.mlhCOC.invalid = true;
  },
  updateGithubURL: function(github) {
    if (!github) {
      return "";
    }
    return "https://api.github.com/users/"+github;
  },
  updateCitiesURL: function(city, focused) {
    if (!city || !focused) {
      return "";
    }
    return "https://api.teleport.org/api/cities/?limit=5&search="+city;
  },
  cleanCities: function(cities) {
    return cities && cities._embedded['city:search-results'];
  },
  submitting: function(e) {
    console.log(e);
    this.$.submitting.open();
  },
  register: function(e) {
    console.log(e);
    this.$.submitting.close();
    this.$.registered.open();
  },
  formError: function(e) {
    console.log('Error!', e);
    this.error = e.detail.error.message;
    this.$.submitting.close();
    this.$.error.open();
  },
  selectCity: function(e) {
    this.set('data.city', e.model.item.matching_full_name);
  },
  submit: function() {
    this.$.form.submit();
  },
  convertFileInputToFormData: function(){
    regexp = /^[^[\]]+/;
    var fileInput = $('input[type="file"]');
    var fileInputName = regexp.exec( fileInput.attr('name') );
    // make files available
    var data = new FormData();
    jQuery.each($(fileInput)[0].files, function(i, file) {
      data.append(fileInputName, file);
    });
    $('#form input:not([type="file"]), paper-textarea, paper-dropdown-menu').each(function(i, input) {
      var $input = $(input);
      var name = $input.attr('name');
      if (!(typeof name === "undefined")) {
        data.append(name, $input.val());
      }
    });
    $('paper-checkbox').each(function(i, input) {
      var $input = $(input);
      var name = $input.attr('name');
      if (!(typeof name === "undefined")) {
        data.append(name, $input[0].checked);
      }
    });
    return data;
  },
  formPreSubmit: function(event){
    var form = document.getElementById('form');
    // here you convert to formData calling our function
    var data = this.convertFileInputToFormData();

    form.request.method = "post";
    // set undefined to prevent default json content type
    form.request.contentType = undefined;
    // here you append your formData to the iron-ajax body
    form.request.body = data;
    form.request.url = "/api/register/"

    form.request.debounceDuration = 300;
    this.valid = true;
  },
  formInvalid: function(event) {
    console.log(event);
    this.valid = false;
  }
});
  </script>
</dom-module>
